{% assign enter_date_of_birth = false %}

{% assign valid_age = 18 %}

{% assign revalidation_time_in_days = 14 %} 

{% capture adult_header %}
	Don't you look fresh faced
{% endcapture %}

{% capture adult_text %}
	You have to be 18 to enter our site. 
  {% comment %} <br /> Pop in your date of birth to enter the world of Long Shot {% endcomment %}
{% endcapture %}

<div id="prompt-background">
  <div id="age-check-prompt" class="modal-prompt">
    <h2 class="age-title">
      {{ adult_header }}
    </h2>
    <p class="age-body">
      {{ adult_text }} 
    </p>

    {% comment %} <div class="age-inputs">
      <div class="input-wrapper">
        <input class="input-field age-input" id="dob-day-input" type="text" pattern="\d*" maxlength="2" placeholder='DD' />
      </div>

      <div class="input-wrapper">
        <input class="input-field age-input" id="dob-month-input" type="text" pattern="\d*" maxlength="2" placeholder='MM' />
      </div>

      <div class="input-wrapper">
        <input class="input-field age-input" id="dob-year-input" type="text" pattern="\d*" maxlength="4" placeholder='YYYY' />
      </div>
    </div> {% endcomment %}

    {% comment %} <div class="underage-message hidden">
      <p>You have to be over 18 to enter this page.</p>
    </div> {% endcomment %}

    <p class="t-red d-hidden age-error">You must be over 18 to visit the site</p>
    <button type="button" id="age-submit" class="button primary age-check-button" style="display:inline-block">I am over 18</button> 
    <button type="button" id="age-submit-underage" class="button primary age-check-button" style="display:inline-block">I am not over 18</button> 
    
    {% comment %} <button type="button" id="age-submit" class="inline-field-submit button primary" style="display:inline-block">I am under 18</button>  {% endcomment %}

    {% comment %} <button disabled type="button" id="submit_birthdate" class="inline-field-submit button secondary" onclick="ageCorrect()" style="display:inline-block">I'm not over 18</button>   {% endcomment %}

    {% comment %} <span style="padding: 0 4px">or</span> {% endcomment %}

    {% comment %} <a href="#1" id="button-exit" name="button-exit" onclick="closeTab()">Exit</a> {% endcomment %}
  </div>
</div>

<script>

  var fullage = true;

  document.addEventListener('DOMContentLoaded', function(event) {
    $('#age-submit').on('click', function(e)  {
      setCookie()
    })

    $('#age-submit-underage').on('click', function(e)  {
      $('.age-error').removeClass('d-hidden')
    })
  });

  // Set the cookie to 30 days 
  function setCookie() {
    var days = 30;
    var date = new Date();
    date.setTime(date.getTime()+(days*24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
    document.cookie = 'isAnAdult=' + true + ';' + expires + "; path=/";
    location.reload();
  };

  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  };

  var isAnAdult = readCookie('isAnAdult');

  if (isAnAdult) {
    document.write("<style> #prompt-background { display: none; }</style>");
  };
</script>