{% comment %}
  A helper snippet for detecting if a link has a mega nav
  or dropdown associated with it.

  @param first_tier_link
{% endcomment %}

{% assign is_dropdown = false %}
{% assign is_meganav = true %}

{% if first_tier_link.links == blank %}
  {% assign is_meganav = false %}
{% else %}
  {% assign is_dropdown = true %}
{% endif %}

{% for second_tier_link in first_tier_link.links %}
  {%- comment %}<locksmith:b612>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: second_tier_link, subject_parent: first_tier_link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
  {%- comment %}</locksmith:b612>{% endcomment -%}
  {% if second_tier_link.links == blank %}
    {% assign is_meganav = false %}
  {% else %}
    {% assign is_dropdown = true %}
  {% endif %}
{% endfor %}

{% if is_meganav %}
  {% assign is_dropdown = false %}
{% endif %}
