{% assign has_dropdown = false %}
{% if linklists[link.handle] and linklists[link.handle].links.size > 0 %}{% assign has_dropdown = true %}{% endif %}

<li class="{% if has_dropdown %}has-dropdown{% endif %}{% if use_mega_nav and has_mega_nav == false %} hover-link{% elsif use_mega_nav == false %} hover-link{% endif %}">
  <a data-category="{{ link.handle }}" href="{{ link.url }}">{{ link.title }}</a>

  {% if has_dropdown %}
    <div class="quarternary-wrapper">
      <ul class="quarternary">
        <div class="quarternary-breadcrumbs">
          <span data-category="{{ link.handle }}" class="close-category">{{ section.settings.mega_nav_trigger }}</span> / {{ link.title }}
        </div>

        {% for link in linklists[link.handle].links %}
          {%- comment %}<locksmith:860b>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[link.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:860b>{% endcomment -%}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</li>
