{% comment %}
  @param style {string}
    - Pass as 'below-header' to enable meganav.
    - 'below-header' must not be passed to drawer
{% endcomment %}

<nav class="navigation {% if style %}{{ style }}{% endif %}">
  <ul class="primary">
    <li class="navigation-logo">
      <div class="branding">
        {% if section.settings.header_logo %}
          <a class="logo" href="/">
            {% assign default_logo = section.settings.header_logo %}
            {% assign alternate_logo = section.settings.header_logo_alternate %}

            {% capture logo_attributes %}
              {% if alternate_logo %}
                data-src-original="{{ default_logo | img_url: '300x90', scale: 2 }}"
                data-src-alt="{{ alternate_logo | img_url: '300x90', scale: 2  }}"
              {% endif %}
              data-header-logo
            {% endcapture %}

            {%
              include 'rimg',
              img: default_logo,
              alt: shop.name,
              size: '300x90',
              class: 'logo-regular',
              attr: logo_attributes,
              lazy: true
            %}
          </a>
        {% else %}
          <h1 class="branding-title"><a href="/">{{ shop.name }}</a></h1>
        {% endif %}
      </div>
    </li>
    {% for link in linklists[section.settings.menu].links %}
      {%- comment %}<locksmith:c5b7>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.menu], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:c5b7>{% endcomment -%}
      {%
        include 'is-dropdown-or-meganav',
        first_tier_link: link
      %}

      {% if style != 'below-header' %}
        {% if is_meganav and style == 'mobile' %}
          {% assign is_dropdown = true %}
        {% elsif is_meganav and style == 'header' %}
          {% assign is_dropdown = true %}
        {% endif %}

        {% assign is_meganav = false %}
      {% endif %}

      <li class="{% if is_dropdown or is_meganav %}has-dropdown{% if is_meganav %} has-mega-nav{% else %} simple-dropdown{% endif %}{% endif %}">
        <a class="main-nav-item {% if link.active %} active {% endif %}"  href="{{ link.url }}"{% if is_dropdown or is_meganav %} aria-haspopup{% endif %}>
          {{ link.title }}    

          {% if is_dropdown or is_meganav %}
            <div class="dropdown-toggle" tabIndex="0" role="button" aria-controls="navigation-{{ link.handle }}" aria-expanded="false">
              {% include 'icon-plus' %}
            </div>
          {% endif %}
        </a>

        {% if is_dropdown or is_meganav %}
          {% if is_meganav %}
            {% if link.links.size < 5 %}
              {% assign meganav_class = 'showing-' | append: link.links.size %}
            {% else %}
              {% assign meganav_class = 'showing-5-or-more' %}
            {% endif %}

            <div class="mega-nav {{ meganav_class }}">
          {% endif %}

          <ul class="dropdown-second-tier {% if style == 'below-header' %}secondary{% endif %}">
            {% if is_meganav %}
              {% for link in link.links %}
                {%- comment %}<locksmith:67a8>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:67a8>{% endcomment -%}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                  <ul class="tertiary">
                    {% for link in link.links %}
                      {%- comment %}<locksmith:f8dc>{% endcomment -%}
                        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                      {%- comment %}</locksmith:f8dc>{% endcomment -%}
                      <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            {% else %}
              {% for link in link.links %}
                {%- comment %}<locksmith:2155>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:2155>{% endcomment -%}
                {%
                  include 'navigation-menu',
                  style: style,
                  link: link
                %}
              {% endfor %}
            {% endif %}
          </ul>

          {% if is_meganav %}
            </div>
          {% endif %}
        {% endif %}
      </li>

    {% endfor %}

  </ul>
</nav>
