{% assign item = product %}
{% if template contains 'search' %}
  {% assign item = item %}
{% elsif template contains 'product' %}
  {% assign item = prod %}
{% endif %}

{% if settings.product_stock_overlay and item.available %}
  {% assign show_stock_indicator = false %}
  {% assign total = 0 %}
  {% assign threshold = settings.product_stock_overlay_show | times: 1 %}
  {% for variant in item.variants %}
    {% if variant.inventory_management == "shopify" and variant.inventory_quantity > 0 and varient.inventory_policy != 'continue'%}
      {% assign total = total | plus: variant.inventory_quantity %}
      {% assign show_stock_indicator = true %}
    {% endif %}
  {% endfor %}
{% endif %}

<article class="product-list-item" {% unless onboarding %}id="product-list-item-{{ item.id }}"{% endunless %}>

  <figure class="product-list-item-thumbnail">

    <div>
      {% unless onboarding %}
        <a href="{{ item.url | within: collection }}">
          {% assign lazy = false %}
          {% if item.featured_image %}
            {% assign lazy = true %}
          {% endif %}

          {% if item.tags contains 'Mixed Case' %}
            <span class="quantity-badge mixed-case"> 
              <img src="https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/multipack-badge-2.png" alt="Mixed Case" title="Mixed Case" />
            </span>
          {% endif %} 

          {% comment %} <span class="quantity-badge black-friday-deal"> 
            <h3>Black Friday 
              <br />30% off
              <br />Free Delivery
            </h3>
          </span> {% endcomment %}

          {%
            include 'rimg',
            img: item.featured_image,
            class: 'product-list-item-image',
            size: '600x600',
            lazy: lazy
          %}
 
          {% if show_stock_indicator and total < threshold %}
            <span class="stock-overlay meta">{{ 'products.product.stock_level' | t: stock_count: total }}</span>
          {% endif %} 

          {% comment %} {% if item.compare_at_price_min > item.price_min and item.available %}
            <span class="sale-badge">&#57367;</span>
          {% endif %} {% endcomment %}

          {% comment %} {% if item.tags contains 'Mixed Case' %}
            <span class="quantity-badge mixed-case"> 
              <img src="https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/multipack-badge-2.png" alt="Mixed Case" title="Mixed Case" />
            </span>
          {% else %}
            <span class="quantity-badge"> 
              <img src="https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/quantity-badge.png?v12" alt="x12" title="x12" />
            </span>
          {% endif %}        {% endcomment %}
        </a>
      {% else %}
        <a href="#">
          {{ onboarding_image }}
        </a>
      {% endunless %}
    </div>
  </figure>

  <div class="product-list-item-details">
    {% if settings.product_show_vendor %}
      <p class="product-list-item-vendor vendor meta">
        {% unless onboarding %}
          {{ item.vendor }}
        {% else %}
          {{ onboarding_vendor }}
        {% endunless %}
      </p>
    {% endif %}

    <h2 class="product-list-item-title">
      <a href="{% unless onboarding %}{{ item.url | within: collection }}{% endunless %}">
        {% unless onboarding %}
          {{ item.title }}
        {% else %}
          {{ onboarding_title }}
        {% endunless %}
      </a>
    </h2>

    <p>These drinks come in a box of 12 x 250ml</p>

    <p class="product-list-item-price">
        {% if item.price_varies %}
          <span class="price">
            {% if item.price_varies %}{{ 'products.product.from' | t }}{% endif %}
            <span class="money">{{ item.price_min | money }}</span></span>
        {% else %}
          <span class="price">
            {% unless item.compare_at_price_min <= item.price_min %}
              <span class="original money">
                {% if item.compare_at_price_min > item.price_min %}
                  {{ item.compare_at_price_min | money }}
                {% endif %}
              </span>
              &nbsp;
            {% endunless %}
            <span class="money">{{ item.price_min | money }}</span>
          </span>
        {% endif %}
    </p>


    <div class="product-description rte">
      {{ product.description }}
      {% comment %} {% include 'product-additional-information' %} {% endcomment %}
    </div>


    {% if product.tags contains 'subscription' %}
      <a class="button" href="{{ item.url | within: collection }}">
        Find out more
      </a>
    {% else %}
      <p class="product-list-item-price">
        {% if item.available %}
            {%
              form 'product',
              item,
              id: product_form_id,
              data-product-form: form_id
            %}
              
              <input
                  class="input-field product-quantity-input"
                  type="hidden"
                  name="quantity"
                  value="1"
                />
            
              <input
                  class="product-select"
                  name="id"
                  value="{{ item.variants[0].id }}"
                  type="hidden"
                  data-variant-title="{{ item.variants[0].title }}"
                />
            
              <div style="margin-top: 20px">
                {% if item.available %}
                  <div class="product-form-submit-wrap">
                    {% assign add_to_cart_text = 'products.product.add_to_cart' | t %}
                    {% if add_to_cart_override %}
                      {% assign add_to_cart_text = add_to_cart_override %}
                    {% endif %}
                    <input class="button" type="submit" value="{{ add_to_cart_text }}" />
                    <div class="add-to-cart-loader"></div>
                  </div>

                  {% if section.settings.show_spb %}
                    {{ form | payment_button }}
                  {% endif %}
                {% else %}
                  <input
                    class="button disabled"
                    type="button"
                    disabled="disabled"
                    value="{{ 'products.product.sold_out' | t }}">
                {% endif %}
              </div>
            
            {% endform %}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </p>
    {% endif %}
  </div>

</article>
