{% comment %}
  @param product {object}
    Product object drop is required

  @param selected_variant {object}
    selected_variant object is required
{% endcomment %}

{% assign featured_image = selected_variant.featured_image | default: product.featured_image %}
<div class="product-slideshow clearfix">
  
  {% comment %} <span class="quantity-badge black-friday-deal"> 
    <h3>Black Friday 
      <br />30% off
      <br />Free Delivery
    </h3>
  </span> {% endcomment %}

  <div
    class="product-big-image {% if section.settings.enable_zoom %}can-zoom{% endif %}"
    data-no-image-svg="{{ 'no-image.svg' | asset_url }}"
    data-no-image-png="{{ 'no-image.png' | asset_url }}">

    {% if product != blank %}
      {% capture featured_image_attr %}
        data-image-id="{{ image.id }}"
      {% endcapture %}

      {% assign lazy_load = false %}
      {% if featured_image %}
        {% assign lazy_load = true %}
      {% endif %}

      {%
        include 'rimg',
        img: featured_image,
        class: 'product-list-item-image',
        size: '2048x2048',
        attr: featured_image_attr,
        lazy: lazy_load
      %}
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg product-no-images' }}
    {% endif %}

    {% if section.settings.enable_zoom %}<div class="product-image-zoom"></div>{% endif %}
  </div>

  {% if product.images.size > 1 %}
  <div class="product-thumbnails">
    {% for image in product.images %}
      {% capture product_image_attr %}
        data-high-res="{{ image | product_img_url: '2048x2048' }}"
        data-image-id="{{ image.id }}"
      {% endcapture %}

      {% if image == featured_image %}
        {% assign product_image_class = 'active' %}
      {% endif %}

      {%
        include 'rimg',
        img: image,
        class: product_image_class,
        size: '50x50',
        attr: product_image_attr,
      %}
    {% endfor %}
  </div>
  {% endif %}
</div>
