 <section class="usp">
    <img src="https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/usp.png" title="Low sugar, gluten free, suitable for vegans, zero additives" alt="Low sugar, gluten free, suitable for vegans, zero additives"/>
  </section>