<h1 class="page-title">{{ 'general.general.account' | t }}</h1>

<div class="logged-in-as">
  {% capture user_email %}
    <a href="/account">{{ customer.email }}</a>
  {% endcapture %}
  {{ 'customer.account.logged_in_as_html' | t: user_email: user_email }} (<a href="/account/logout">{{ 'general.general.logout' | t }}</a>)
</div>

<div class="account-info">

  {% if customer.default_address != nil %}
    <p class="customer-address">
      {% assign address = customer.default_address %}
      <span><strong>{{ address.first_name }} {{ address.last_name }}</strong></span><br>
      {% if address.company.size > 0 %}
        <span>{{ address.company }}</span><br>
      {% endif %}
      {% if address.street.size > 0 %}
        <span>{{ address.street }}</span><br>
      {% endif %}
      {% if address.city.size > 0 or address.province_code.size > 0 %}
        <span>{{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}</span><br>
      {% endif %}
      {% if address.country.size > 0 or address.zip.size > 0 %}
        <span>{{ address.country }} {{ address.zip }}</span><br>
      {% endif %}
      {% if address.phone.size > 0 %}
        <span>{{ address.phone }}</span><br>
      {% endif %}
    </p>
  {% endif %}

  {% if customer.addresses_count == 0 %}
    {% capture new_address %}
      <a href="/account/addresses">{{ 'customer.addresses.new_address_link' | t }}</a>
    {% endcapture %}
    <p>{{ 'customer.addresses.no_address_html' | t: new_address: new_address }}</p>
  {% else %}
    <p class="view-addresses-link"><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
  {% endif %}

  <p><a href="/pages/my-subscriptions" class="text-link">Manage Subscription</a></p>

</div>

<div class="order-history">

  <table class="orders">
    <thead>
      <tr>
        <th class="first">{{ 'customer.orders.order' | t }}</th>
        <th>{{ 'customer.orders.payment_status' | t }}</th>
        <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
        <th class="last">{{ 'general.general.total' | t }}</th>
      </tr>
    </thead>

    <tbody>
    {% if customer.orders.size == 0 %}
      <tr class="first last">
        <td colspan="4">{{ 'customer.orders.no_orders' | t }}</td>
      </tr>
    {% endif %}
    {% for order in customer.orders %}
      <tr class="{% include 'for-looper' %} {% if order.cancelled %}cancelled_order{% endif %}">
        <td class="order-number first">{{ order.name | link_to: order.customer_url }} <span class="date">- {{ order.created_at | date: format: 'short_month' }}</span></td>
        <td class="payment-status {{ order.financial_status }}">{{ order.financial_status_label | capitalize }}</td>
        <td class="fulfillment-status {{ order.fulfillment_status }}">{{ order.fulfillment_status_label | capitalize }}</td>
        <td class="total last"><span class="money">{{ order.total_price | money }}</span></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
