{%- comment %}<locksmith:df47>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:df47>{% endcomment -%}

<!doctype html>
<html lang="en">
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  {% comment %} Start GTM {% endcomment %}
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5NMWTNC');</script>
  {% comment %} End GTM {% endcomment %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <!-- NO INDEX -->

    {% if handle contains 'shipping-and-delivery' %}
    <meta name="robots" content="noindex">
    {% endif %}

    {% if handle contains 'cookie-policy' %}
    <meta name="robots" content="noindex">
    {% endif %}

    {% if handle contains 'privacy-policy' %}
    <meta name="robots" content="noindex">
    {% endif %}

    {% if handle contains 'terms-and-conditions' %}
    <meta name="robots" content="noindex">
    {% endif %}

    {% if handle contains 'contact-us' %}
    <meta name="robots" content="noindex">
    {% endif %}

    <!-- NO INDEX -->

  {% if template == 'index' %}
    <title>{{ page_title }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found</title>
  {% else %}
    <title>{{ page_title }}</title>
  {% endif %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  {% if page_description %}
    {%- comment %}<locksmith:866c>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}" />{% endif -%}
      {%- comment %}original: <meta name="description" content="{{ page_description | escape }}" />{%- endcomment %}
    {%- comment %}</locksmith:866c>{% endcomment -%}
  {% endif %}

  {% if template contains 'collection' and current_tags %}
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% assign twitter_handle = settings.social_twitter_url | split: 'twitter.com/' | last %}
  {%
    include 'social-meta-tags',
    twitter_handle: twitter_handle
  %}

  {{ 'hamburgers.css' | asset_url | stylesheet_tag }}
  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'override.theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Cart CSS has styles for overlay1 -->
  {{ 'override.cart.scss.css' | asset_url | stylesheet_tag }}


  <!-- Third Party JS Libraries -->
  {{ 'modernizr-2.7.1.min.js' | asset_url | script_tag }}

  <!-- Store object -->
  {% include 'theme-options' %}

  <!-- Bulb subscription -->  
  {{ 'bsub.js' | asset_url | script_tag }} 
  {{ 'bsub.scss.css' | asset_url | stylesheet_tag }}    
  {%- render 'bold-subscription-widget' -%}
</head> 

<body class="template-{{ template | replace: '.', '-' | handle }} {% if customer %}customer-logged-in{% endif %}">
  
  {% render 'age-check' %}

  {% comment %} Start GTM NoScript {% endcomment %} 
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NMWTNC" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% comment %} End GTM NoScript {% endcomment %}

  {% comment %} {% section 'general-header' %} {% endcomment %}
 
  <li class="navigation-logo lsHeader__navigation--item navigation-logo">
		<div class="branding" data-header-logo>
				<a href="/">
					<img class="logo-regular" data-header-logo alt="{{ shop.name }}" src="//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/Logo_new.png?v=14652431140816980454" />
				</a>
		</div>
	</li>

  {% comment %} {% section 'site-overlay' %} {% endcomment %}

  {% section 'new-header' %}

  <main
    class="main-content"
    role="main"
    data-main-content>

    {% unless template contains 'index' or template contains 'product' %}
      {% include 'breadcrumbs' %}
    {% endunless %}

    {{ content_for_layout }}
  </main>

  {% comment %} {% section 'general-footer' %} {% endcomment %} 

  {% section 'new-footer' %}

  <!-- Scripts -->
  {{ 'jquery-1.10.0.min.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'cart' %}
    {{ '/services/javascripts/countries.js' | script_tag }}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ 'jquery.cart.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  <script type="application/json" data-currency-data>
    {
      "enable": {{ settings.enable_currency_converter | default: false }},
      "shopCurrency": {{ shop.currency | json }},
      "defaultCurrency": {{ settings.currency_converter_default | default: shop.currency | json }},
      "displayFormat": {{ settings.currency_display_format | json }},
      "moneyFormat": {{ shop[settings.currency_display_format] | default: shop.money_format | strip_html | json }},
      "moneyFormatNoCurrency": {{ shop.money_format | strip_html | json }},
      "moneyFormatCurrency": {{ shop.money_with_currency_format | strip_html | json }}
    }
  </script>

  {% if settings.enable_currency_converter %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
  {% endif %}

  {{ 'jquery.instagramFeed.min.js'  | asset_url | script_tag }}

  {{ 'startup.js'  | asset_url | script_tag }}

  {{ 'script.js' | asset_url | script_tag }}

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>


  {% include 'structured-data' %}
</body>
</html>
