<div class="about-us-body">
  <div class="about-us-image">
    {%
      include 'rimg',
      img: section.settings.header_logo,
      alt: section.settings.body_header,
      size: '600x600',
      lazy: true
    %}
  </div>

  <article class="about-us-text">
    <h1>{{ section.settings.body_header }}</h1>
    <p>{{ section.settings.body }}</p>
    <h2>{{ section.settings.body_footer }}</h2>
  </article>
</div>

{% schema %}
  {
    "name": "About Us",
    "settings": [
      {
				"id": "header_logo",
				"type": "image_picker",
				"label": "Logo image"
    	},
      {
        "id": "body_header",
        "type": "text",
        "label": "Body Header"
      }, 
      {
        "id": "body",
        "type": "richtext",
        "label": "Add body text below"
      }, 
      {
        "id": "body_footer",
        "type": "text",
        "label": "Body Footer"
      }
    ]
  }
{% endschema %}
