<div class="about-us-block">
  <article class="about-us-text">
    <h2 class="t-red">{{ section.settings.body_header }}</h2>
    <p>{{ section.settings.body }}</p>
    <h2>{{ section.settings.body_footer }}</h2>
  </article>

  <div class="about-us-equation-image">
  {%
      include 'rimg',
      img: section.settings.block_image,
      alt: section.settings.body_header ,
      size: '400 x 400',
      lazy: true
    %}
  </div>
</div>

<article class="ethos-grid-item" style="background-image: url( //cdn.shopify.com/s/files/1/0309/7310/0172/files/ethos-purple-bg_800x.png?v=1588096359 )">
  <h2 class="ethos-grid-item-title">{{ section.settings.block_title }}</h2>

  {{ section.settings.block_body }}
</article>

{% schema %}
  {
    "name": "Equation",
    "settings": [
      
      {
        "id": "body_header",
        "type": "text",
        "label": "Equation Header"
      },
      {
        "id": "body",
        "type": "richtext",
        "label": "Body Text"
      },
      {
        "id": "block_title",
        "type": "text",
        "label": "Block Title"
      },
      {
        "id": "block_body",
        "type": "textarea",
        "label": "Equation Body - accepts HTML"
      }, 
       {
        "id": "block_image",
        "type": "image_picker",
        "label": "Equation Image"
      }
    ]
  }
{% endschema %}
