<div class="cart-freebie-overlay ">
	<a href="#1" class="dismisOffer close-cart-offer">X</a>

	<h1 class="freebie-title">{{ section.settings.cart_overlay_header }}</h1>

	<div class="freebie-copy">
		{{ section.settings.cart_overlay_body }}
	</div>

  <div class="freebie-actions">
    <a href="/collections/our-drinks" class="button" value="Oh go on then">
      <span>Oh go on then</span>
    </a>

    <a href="#1" class="button close-cart-offer" >
      <span>No I'll be fine thanks</span>
    </a>
  </div>
</div>

{% schema %}
{
	"name": "Cart Overlay",
	"settings": [
		{
      "type": "header",
      "content": "Cart Overlay"
    },
    {
      "type": "text",
      "id": "cart_overlay_header",
      "label": "Overlay Header"
    },
		{
      "type": "textarea",
      "id": "cart_overlay_body",
      "label": "Overlay Text"
    }
	]
}


{% endschema %}