{% assign border_class = '' %}
{% if settings.background-color == settings.footer-background-color %}
  {% unless settings.body_background_image or settings.footer_background_image %}
    {% assign border_class = 'default' %}
  {% endunless %}
{% endif %}

<div class="footer-wrapper {{ border_class }}">

  {% assign menu_class = 0 %}

  {% if menus[section.settings.menu_1].links.size > 0 %}
    {% assign menu_class = menu_class | plus: 1 %}
  {% endif %}

  {% if menus[section.settings.menu_2].links.size > 0 %}
    {% assign menu_class = menu_class | plus: 1 %}
  {% endif %}

  {% if
    settings.social_facebook_url != blank or
    settings.social_twitter_url != blank or
    settings.social_instagram_url != blank or
    settings.social_pinterest_url != blank or
    settings.social_vimeo_url != blank or
    settings.social_youtube_url != blank or
    settings.social_rss_url != blank
  %}
    {% assign has_social = true %}
    {% assign menu_class = menu_class | plus: 1 %}
  {% endif %}

  <footer class="main-footer showing-{{ menu_class }}-lists">
    <div class="footer-columns">
      {% for i in (1..2) %}
        {% capture menu %}menu_{{ i }}{% endcapture %}
        {% if menus[section.settings[menu]].links.size > 0 %}
          {% capture menu %}{{ section.settings[menu] }}{% endcapture %}
          <div class="footer-link-list {{ menus[menu].handle }}">
            {% if section.settings.show_menu_heading %}
              <h2 class="footer-title">{{ menus[menu].title }}</h2>
            {% endif %}

            <ul>
              {% for link in menus[menu].links %}
                {%- comment %}<locksmith:6f1b>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: menus[menu], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:6f1b>{% endcomment -%}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}

      {% if section.settings.show_social_buttons%}
        <div class="footer-link-list social-icons">
          {% if section.settings.social_heading != blank %}
            <h2 class="footer-title">{{ section.settings.social_heading }}</h2>
          {% endif %}
          {% if has_social %}
              {% include 'social-icons' %}
          {% endif %}
        </div>
      {% endif %}

      {% if section.settings.show_share_buttons %}
        <div class="social-share-section">
          {% if section.settings.sharing_heading != blank %}
            <h2 class="footer-title">{{ section.settings.sharing_heading }}</h2>
          {% endif %}

          {% assign byline = section.settings.sharing_description %}
          {% if byline != blank %}
            <p>{{ byline }}</p>
          {% endif %}

          {% assign pinterest_image = '' %}

          {% if template contains 'product' %}
            {% assign pinterest_image = product.featured_image | img_url: '600x600' %}
          {% elsif template contains 'article' %}
            {% if article.image %}
              {% assign pinterest_image = article.image | img_url: '600x600' %}
            {% endif %}
          {% endif %}

          {% if section.settings.enable_twitter %}
            <a
              class="share-icon icon-tweet"
              href="//twitter.com/share?url={{ shop.url }}"
              target="_blank"
            >
              {{ 'general.social.twitter' | t }}
            </a>
          {% endif %}
          {% if section.settings.enable_facebook %}
            <a
              class="share-icon icon-like"
              href="//www.facebook.com/sharer.php?u={{ shop.url }}"
              target="_blank"
            >
              {{ 'general.social.facebook' | t }}
            </a>
          {% endif %}
          {% if section.settings.enable_pinterest %}
            <a
              class="share-icon icon-pin"
              href="//pinterest.com/pin/create/button/?url={{ shop.url }}{% if pinterest_image != blank %}&amp;media={{ pinterest_image }}{% endif %}&amp;description={{ shop.name }}"
              target="_blank"
            >
              {{ 'general.social.pinterest' | t }}
            </a>
          {% endif %}
          {% if section.settings.enable_fancy %}
            <a
              class="share-icon icon-fancy"
              href="//www.thefancy.com/fancyit?ItemURL={{ shop.url }}&amp;Title={{ shop.name }}"
              target="_blank"
            >
              {{ 'general.social.fancy' | t }}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div role="contentinfo" class="copyright footer-module">
      {% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}
      <p>
        {{ 'general.general.copyright_text_html' | t: year: year, shop_name: shop.name }}
        <br>
        {{ powered_by_link }}
      </p>
    </div>

    {% if shop.enabled_payment_types.size > 0 and section.settings.show_payment_icons %}
      <div class="payment-types footer-module">
        {% for type in shop.enabled_payment_types %}
          <div class="payment-types-item">
            {{ type | payment_type_svg_tag }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

  </footer>

</div>

{% schema %}
{
  "name": "Footer",
  "class": "footer-section",
  "settings": [
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "checkbox",
      "id": "show_menu_heading",
      "label": "Show menu headings",
      "default": true
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Menu 1",
      "default": "footer",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Menu 2",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "header",
      "content": "Social links",
      "info": "To manage your social media links, go to the Social media section in the Theme settings tab."
    },
    {
      "type": "checkbox",
      "id": "show_social_buttons",
      "label": "Show social links",
      "default": false
    },
    {
      "type": "text",
      "id": "social_heading",
      "label": "Heading",
      "default": "Social links"
    },
    {
      "type": "header",
      "content": "Share"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share section",
      "default": true
    },
    {
      "type": "text",
      "id": "sharing_heading",
      "label": "Heading",
      "default": "Help us spread the word!"
    },
    {
      "type": "text",
      "id": "sharing_description",
      "label": "Description",
      "default": "Please help us spread the news about our awesome products."
    },
    {
      "type": "checkbox",
      "id": "enable_twitter",
      "default": true,
      "label": "Enable Twitter"
    },
    {
      "type": "checkbox",
      "id": "enable_facebook",
      "default": true,
      "label": "Enable Facebook"
    },
    {
      "type": "checkbox",
      "id": "enable_pinterest",
      "default": true,
      "label": "Enable Pinterest"
    },
    {
      "type": "checkbox",
      "id": "enable_fancy",
      "default": true,
      "label": "Enable Fancy"
    },
    {
      "type": "header",
      "content": "Payment icons"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons"
    }
  ]
}

{% endschema %}