<section class="home-intro">
	<div class="item home-text-feature">
		<h1 class="feature-title">{{section.settings.title}}</h1>
		<div class="rte home-text-content"><p>{{ section.settings.body_text }}</p></div>
	</div>

	<div class='item longshot-deifnition'>
		<h2 class="title">{{ section.settings.definition_title }}</h2>

		<p><strong>noun</strong> [ C usually singluar ]</p>
		
		<p> UK  /ˈlɒŋ ˌʃɒtˈ/</p>

		<ol class="definition_list">
			<li><p>{{ section.settings.definition_1 }}</p></li>
			<p class="t-italic">It’s a Long Shot, but well worth trying</p>
			<li class="definition_list_item t-red"><p ><strong>{{ section.settings.definition_2 }}</strong></p></li>
		</ol>
	</div>
</section>

{% schema %}
{
	"name": "Introduction",
	"settings": [
		{
			"type": "text", 
			"label": "Title",
			"id": "title"
		},
		{
			"type": "richtext",
			"label": "Text",
			"id": "body_text"
		},
		{
			"type": "text",
			"label": "Definition title",
			"id": "definition_title"
		},
		{
			"type": "text",
			"label": "Definition 1",
			"id": "definition_1"
		},
		{
			"type": "text",
			"label": "Definition 2",
			"id": "definition_2"
		}
	]
}
{% endschema %}