{% assign per_row = section.settings.products_in_rows %}
{% assign product_rows = section.settings.number_of_rows %}
{% assign collection = section.settings.collection %}
{% assign product_limit = product_rows | times: per_row %}

<section
  class="module-container {{ section.settings.style }} rows-of-{{ per_row }}"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-featured-collection"
>
  <div class="module-inner dynamic-featured-collection">

    {% if section.settings.title != blank %}
      <h1 class="section-title">{{ section.settings.title | escape }}</h1>
    {% endif %}

    <div class="collection-products">
      {% for product in collections[collection].products limit: product_limit %}
        {%- comment %}<locksmith:50b4>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:50b4>{% endcomment -%}
        {% include 'product-list-item' %}
      {% else %}
        {% for i in (1..product_limit) %}
          {%- capture placeholder_image -%}
            {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg product-list-item-image' }}
          {%- endcapture -%}
          {% assign title = 'onboarding.featured_collection.product_title' | t %}
          {% assign vendor = 'onboarding.featured_collection.product_vendor' | t %}
          {% include
            'product-list-item',
            onboarding: true,
            onboarding_image: placeholder_image,
            onboarding_title: title,
            onboarding_price: 1999,
            onboarding_vendor: vendor %}
        {% endfor %}
      {% endfor %}
    </div>

    {% if section.settings.button != blank and section.settings.link != blank %}
      <div class="home-module-cta">
        <a class="button" href="{{ section.settings.link }}">
          {{ section.settings.button | escape }}
        </a>
      </div>
    {% endif %}

  </div>
</section>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "default-style",
          "label": "Default"
        },
        {
          "value": "accent-style",
          "label": "Accent"
        },
        {
          "value": "contrast-style",
          "label": "Contrast"
        }
      ],
      "default": "default-style"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link URL"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_in_rows",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "number_of_rows",
      "label": "Rows",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Featured collection"
    }
  ]
}

{% endschema %}