
{% if section.settings.show_product and section.settings.featured_product %}

    {% assign product = all_products[section.settings.featured_product] %}

    {% if section.settings.section_title %}<h2 class="homepage_feature_title">{{ section.settings.section_title }}</h2> {% endif %}

    <div class="homepage_feature">
      <div class="homepage_feature-image">
        {% if product.tags contains 'Mixed Case' %}
          <span class="quantity-badge mixed-case"> 
            <img src="https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/multipack-badge-2.png" alt="Mixed Case" title="Mixed Case" />
          </span>
        {% else %}
          <span class="quantity-badge"> 
            <img src="https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/quantity-badge.png?v12" alt="x12" title="x12" />
          </span>
        {% endif %}   

        {% comment %} <span class="quantity-badge black-friday-deal"> 
          <h3>Black Friday 
            <br />30% off
            <br />Free Delivery
          </h3>
        </span> {% endcomment %}

        <a href="{{ product.url }}" title="{{ product.title }}">
          <img src="{{ product.images[0] | product_img_url: 'large' }}" alt="{{ product.title }}"/>
        </a>
      </div>

      <div>
        <h3>{{ product.title }}</h3>

        <p>{{ product.description }}</p>

        <p class="product-price">
          <span class="price">
            {% unless section_onboarding or product.variants.size == 1 and product.compare_at_price_min <= product.price %}
              <span class="original money {% if product.compare_at_price_min <= price %}hidden{% endif %}">
                {% if product.compare_at_price > product.price %}
                  {{ product.compare_at_price | money }}
                {% endif %}
              </span>
            {% endunless %}
            
            <span class="money">&nbsp;{{ product.price | money }}</span>
          </span>
        </p>

        {%
          form 'product',
          product,
          id: product_form_id,
          data-product-form: form_id
        %}
          {% unless section_onboarding %}
            {% if product.variants.size > 1 %}
              <div class="product-options">
                {% if section.settings.variants_style == 'select' %}
                  {% include 'product-options-dropdown' %}
                {% else %}
                  {% include 'product-options-radio' %}
                {% endif %}

                <div class="selector-wrapper no-js-required">
                  <label for="product-select-{{ form_id }}"></label>
                  <select
                    class="product-select"
                    name="id"
                    id="product-select-{{ form_id }}">
                    {% for variant in product.variants %}
                      {%- capture option_content -%}
                        {%- if variant.available -%}
                          {{ variant.title }} - {{ variant.price | money }}
                        {%- else -%}
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                      {%- endcapture -%}
                      <option
                        {% if variant.id == selected_variant.id %}selected="selected"{% endif %}
                        data-variant-id="{{ variant.id }}"
                        {% if variant.available %}
                          data-sku="{{ variant.sku }}"
                          value="{{ variant.id }}"
                        {% else %}
                          disabled="disabled"
                        {% endif %}>
                        {{ option_content | strip_newlines }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            {% else %}
              <input
                class="product-select"
                name="id"
                value="{{ product.variants[0].id }}"
                type="hidden"
                data-variant-title="{{ product.variants[0].title }}" />
            {% endif %}
          {% endunless %}

          {% unless hide_shoppad %}
            <div id="infiniteoptions-container"></div>
            <div id="uploadery-container"></div>
          {% endunless %}

          <div
            class="
              input-wrapper product-quantity
              {% if section.settings.show_spb %}
                smart-payments
              {% endif %}
            "
          >
            <div class="product-quantity-container">
              <div class="add-to-cart">
                {% if product.available %}
                  <div class="product-form-submit-wrap">
                    {% assign add_to_cart_text = 'products.product.add_to_cart' | t %}
                    {% if add_to_cart_override %}
                      {% assign add_to_cart_text = add_to_cart_override %}
                    {% endif %}
                    <input class="button" type="submit" value="{{ add_to_cart_text }}" />
                    <div class="add-to-cart-loader"></div>
                  </div>

                  {% if section.settings.show_spb %}
                    {{ form | payment_button }}
                  {% endif %}
                {% else %}
                  <input
                    class="button disabled"
                    type="button"
                    disabled="disabled"
                    value="{{ 'products.product.sold_out' | t }}">
                {% endif %}
              </div>
            </div>

            <div class="product-cart-message" data-product-message></div>
          </div>
        {% endform %}
      </div>
    </div>
{% endif %}

{% schema %}
{
  "name": "Homepage Featured Product",
  "settings": [
		{
			"content": "Featured Product",
			"type": "header"
		}, {
			"label": "Show Featured Product",
			"id": "show_product",
			"type": "checkbox"
		}, {
			"label": "Title",
			"id": "section_title",
			"type": "text"
		}, {
			"label": "Product",
			"id": "featured_product",
			"type": "product"
		}
	]
}
{% endschema %}
