{% if section.settings.show_instagram %}
	<div class="instagramFeed">
		
		{% if section.settings.title %}<h2 class="instagram-title">{{ section.settings.title }}</h2>{% endif %}

		<div id="instagram-feed">	
			<div class="instagram-loading">
				<svg xmlns="http://www.w3.org/2000/svg" style="margin:auto;background:0 0" width="200" height="200" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" display="block"><circle cx="50" cy="50" fill="none" stroke="#e15b64" stroke-width="2" r="14" stroke-dasharray="65.97344572538566 23.991148575128552" transform="rotate(71.991 50 50)"><animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"/></circle></svg>
			</div>
		</div>
		
	</div>
{% endif %}

{% schema %}
  {
    "name": "Instagram Feed",
		"settings": [
			{
				"type": "richtext", 
				"label": "Instagram Title",
				"id": "title"
			},
			{
				"type": "checkbox",
				"label": "Show Instagram",
				"id": "show_instagram"
			}
		]
  }
{% endschema %}