<script
  type="application/json"
  data-section-type="static-faq"
  data-section-id="{{ section.id }}"
></script>

<style>
  .accordion-item-content a {
    text-decoration: underline;
  }
</style>

{% for block in section.blocks %}
  {% if block.settings.title != blank and block.settings.content != blank %}

    {% assign is_first = forloop.first %}
    <article class="accordion-item" {{ block.shopify_attributes }}>
      <h2 class="accordion-item-title">
        <a
          class="{% if is_first %}accordion-active{% endif %}"
          href="#"
          data-accordion-trigger="accordion-{{ block.id }}">
          <span class="accordion-inline-title">
            {{ block.settings.title | escape }}
          </span>
          {%- include 'icon-plus', class: 'accordion-icon' -%}
        </a>
      </h2>
      <div
        class="accordion-item-content rte full-width-rte"
        data-accordion-content="accordion-{{ block.id }}"
        {% unless is_first %}style="display: none;"{% endunless %}>
        {{ block.settings.content }} 
      </div>
    </article>

  {% endif %}
{% endfor %}

{% schema %}
{
  "name": "FAQ",
  "class": "accordion-list",
  "blocks": [
    {
      "type": "faq",
      "name": "Frequently asked question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Want to know anything else?"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Answer",
          "default": "<p>Save yourself the time and trouble of writing the same email over and over again by listing your most commonly asked questions and answers here. A dedicated FAQ page should help address the basic needs of your customers, cutting down on customer service emails, increasing conversions, and creating a more satisfying shopping experience!</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "faq",
        "settings": {
          "title": "What are the ingredients and nutritional information of Long Shot Seltzers?",
"content" : "<p>Our products don’t contain common allergens like milk, eggs, fish, crustacean shellfish, tree nuts, peanuts, wheat and soybeans. But if you have any concerns, please feel free to <a href='/pages/contact-us'>get in touch</a> and we can put you at ease!</p>"
        }
      },
      {
        "type": "faq",
        "settings": {
          "title": "Does Long Shot Drinks contain allergens?",
			"content" : "<p>All our drinks are made from a unique blend of gluten free alcohol, sparkling water and natural fruit juices, extracts and/or concentrates. Nutritional labels per product</p>"
        }
      },
      {
        "type": "faq",
        "settings": {
          "title": "Is Long Shot Drinks gluten free?",
"content": "<p>Yes, Long Shot Drinks is made with naturally gluten free ingedients.</p>"
        }
      },
	  {
        "type": "faq",
        "settings": {
          "title": "Is Long Shot Drinks vegan?",
"content": "<p>Yes, Long Shot Drinks are a vegan friendly product.</p>"
        }
      },
      {
        "type": "faq",
        "settings": {
          "title": "I am Long Shot Drinks biggest fan. Can I partner with the brand?",
"content": "<p>Please <a href='/pages/contact-us'>get in touch</a> as we'd love to hear from you.</p>"
        }
      }
    ]
  }
}
{% endschema %}