<header class="lsHeader" data-main-header>
	{% if section.settings.show_promotion %}

		{% if section.settings.promotion_url %}
			<a href="{{ section.settings.promotion_url }}"  title="{{ section.settings.promotion_header }}">
				<div class="promo-header" {% if section.settings.promotion_header_size %}style="font-size: {{ section.settings.promotion_header_size }}"{% endif %}>{{ section.settings.promotion_header }}</div>
			</a>
		{% else%}
			<div class="promo-header" {% if section.settings.promotion_header_size %}style="font-size: {{ section.settings.promotion_header_size }}"{% endif %}>{{ section.settings.promotion_header }}</div>
		{% endif %} 

	{% endif %} 
 
	<div class="main-header">
		<div class="header-block">
			<ul class="social-icons">
				{% if settings.social_facebook_url != blank %}
					<li class="social-link facebook"><a href="{{ settings.social_facebook_url }}" target="_blank" title="Facebook"></a></li>
				{% endif %}
				{% if settings.social_twitter_url != blank %}
					<li class="social-link twitter"><a href="{{ settings.social_twitter_url }}" target="_blank"></a></li>
				{% endif %}
				{% if settings.social_pinterest_url != blank %}
					<li class="social-link pinterest"><a href="{{ settings.social_pinterest_url }}" target="_blank"></a></li>
				{% endif %}
				{% if settings.social_instagram_url != blank %}
					<li class="social-link instagram"><a href="{{ settings.social_instagram_url }}" target="_blank" title="Instagram"></a></li>
				{% endif %}
				{% if settings.social_vimeo_url != blank %}
					<li class="social-link vimeo"><a href="{{ settings.social_vimeo_url }}" target="_blank"></a></li>
				{% endif %}
				{% if settings.social_youtube_url != blank %}
					<li class="social-link youtube"><a href="{{ settings.social_youtube_url }}" target="_blank"></a></li>
				{% endif %}
				{% if settings.social_rss_url != blank %}
					<li class="social-link rss"><a href="{{ settings.social_rss_url }}" target="_blank"></a></li>
				{% endif %}
			</ul>
		</div>

		<div class="lsHeader__navigation header-block">
			<ul class="lsHeader__navigation--list">
			{% comment %} <li class="navigation-logo lsHeader__navigation--item navigation-logo">
				<div class="branding" data-header-logo>
						<a href="/">
							<img class="logo-regular" data-header-logo alt="{{ shop.name }}" src="//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/Logo_new.png?v=14652431140816980454" />
						</a>
				</div>
			</li> {% endcomment %}

			{% for link in linklists.main-menu.links %}
				{%- comment %}<locksmith:59c3>{% endcomment -%}
				  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists.main-menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
				{%- comment %}</locksmith:59c3>{% endcomment -%}
				<li class="lsHeader__navigation--item">
					<a class="main-nav-item {% if link.active %} active {% endif %}"  href="{{ link.url }}"{% if is_dropdown or is_meganav %} aria-haspopup{% endif %}>
						{{ link.title }}    

						{% if is_dropdown or is_meganav %}
							<div class="dropdown-toggle" tabIndex="0" role="button" aria-controls="navigation-{{ link.handle }}" aria-expanded="false">
								{% include 'icon-plus' %}
							</div>
						{% endif %}
					</a>
					</li>
			{% endfor %}
			</ul>
		</div>
		
		<div class="header-block">
			<a class="cart-link lsHeader-cart" href="/cart">
				<img src="https://cdn.shopify.com/s/files/1/0309/7310/0172/t/6/assets/basket-new.png" alt="basket" />
				<span class="cart-count">{{ cart.item_count }}</span>
			</a>

			{% if shop.customer_accounts_enabled %}
				<a href="/account" class="account-link"><img width="30px" src="//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/account-icon.png?v=1586970867" alt="My Account" title="My Account" /></a>
			{% endif %}

			 {% if section.settings.show_search %}
				<div class="lsHeader-search" data-header-search>
					<button type="button" class='lsHeader-search-toggle'><img src="https://img.icons8.com/ios/30/000000/search--v1.png" alt="Search" title="Search"/></button>

					<form class="lsHeader-search-form" action="/search" method="get">
						<input class="input-field lsHeader-search-input" name="q" type="text" placeholder="{{ 'general.general.search_placeholder' | t }}">
					</form>
				</div>
			{% endif %}
		</div>
	</div>
</header>

<header class="lsHeader-mobile" data-main-header>
	{% if section.settings.show_promotion %}
		<div class="promo-header">{{ section.settings.promotion_header }}</div>
	{% endif %}
	
	<div class="lsHeader-moibile-controls">
		<button class="hamburger hamburger--squeeze menu-toggle" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>  

		<div class="branding" data-header-logo>
			<a href="/">
				<img class="logo" data-header-logo alt="{{ shop.name }}" src="//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/Logo_new.png?v=14652431140816980454" />
			</a>
		</div>

		<div class="account-baskets">
			<a class="cart-link account-baskets-item" href="/cart">
				<img src="//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/basket.png?v=1586970867" alt="basket" />
				<span class="cart-count">{{ cart.item_count }}</span>
			</a>

			{% if shop.customer_accounts_enabled %}
				<a href="/account" class="account account-baskets-item"><img src="//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/account-icon.png?v=1586970867" alt="basket" /></a>
			{% endif %}

			 {% if section.settings.show_search %}
				<div class="lsHeader-search" data-header-search>
					<button type="button" class='lsHeader-search-toggle'><img src="https://img.icons8.com/ios/30/000000/search--v1.png" alt="Search" title="Search"/></button>

					<form class="lsHeader-search-form" action="/search" method="get">
						<input class="input-field lsHeader-search-input" name="q" type="text" placeholder="{{ 'general.general.search_placeholder' | t }}">
					</form>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="lsHeader-mobile-navigation-wrapper">
		<nav>
			<ul class="lsHeader-mobile-navigation">
			{% for link in linklists.main-menu.links %}
				{%- comment %}<locksmith:6c88>{% endcomment -%}
				  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists.main-menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
				{%- comment %}</locksmith:6c88>{% endcomment -%}
				<li class="lsHeader-mobile__navigation--item">
					<a class="main-nav-item {% if link.active %} active {% endif %}"  href="{{ link.url }}"{% if is_dropdown or is_meganav %} aria-haspopup{% endif %}>
						{{ link.title }}    

						{% if is_dropdown or is_meganav %}
							<div class="dropdown-toggle" tabIndex="0" role="button" aria-controls="navigation-{{ link.handle }}" aria-expanded="false">
								{% include 'icon-plus' %}
							</div>
						{% endif %}
					</a>
					</li>
			{% endfor %}
			</ul>
		</nav>
	</div>
</header> 


{% schema %}
{
  "name": "New Header",
  "settings": [
		{
      "type": "header",
      "content": "Promotional Header"
    },
		{
      "type": "checkbox",
      "id": "show_promotion",
      "label": "Show promotion header"
    },
		{ 
			"type": "textarea",
			"id": "promotion_header",
			"label": "Promotion Header"
		}, 
		{ 
			"type": "url",
			"id": "promotion_url",
			"label": "Promotion URL"
		}, 
		{ 
			"type": "text",
			"id": "promotion_header_size",
			"label": "Promotion Header Font Size"
		},
		{
      "type": "header",
      "content": "Search"
    },
		{
			"type": "checkbox",
			"id": "show_search",
			"label": "Enable Search"
		}
	]
}
{% endschema %}