<footer class="lsFooter">
	<div class="lsFooter__content">
		<div class="social-share-section">
			{% if section.settings.show_share_buttons %}
				{% if section.settings.sharing_heading != blank %}
					<h4 class="footer-title">{{ section.settings.sharing_heading }}</h4>
				{% endif %}

				{% assign byline = section.settings.sharing_description %}
				{% if byline != blank %}
					<p>{{ byline }}</p>
				{% endif %}

				{% assign pinterest_image = '' %}

				{% if template contains 'product' %}
					{% assign pinterest_image = product.featured_image | img_url: '600x600' %}
				{% elsif template contains 'article' %}
					{% if article.image %}
						{% assign pinterest_image = article.image | img_url: '600x600' %}
					{% endif %}
				{% endif %}

				{% if section.settings.enable_instagram %}
					<a
						class="share-icon icon-instagram"
						href="{{ settings.social_instagram_url }}"
						target="_blank"
					>
						<img src="//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/share-instagram.png" alt="Instagram" />
					</a>
				{% endif %}
				{% if section.settings.enable_twitter %}
					<a
						class="share-icon icon-tweet"
						href="//twitter.com/share?url={{ shop.url }}"
						target="_blank"
					>
						<img src="//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/share-tweet.png" alt="{{ 'general.social.twitter' | t }}" />
					</a>
				{% endif %}
				{% if section.settings.enable_facebook %}
					<a
						class="share-icon icon-like"
						href="//www.facebook.com/sharer.php?u={{ shop.url }}"
						target="_blank"
					>
						<img src="//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/share-facebook.png" alt="{{ 'general.social.facebook' | t }}" />
					</a>
				{% endif %}
				{% if section.settings.enable_pinterest %}
					<a
						class="share-icon icon-pin"
						href="//pinterest.com/pin/create/button/?url={{ shop.url }}{% if pinterest_image != blank %}&amp;media={{ pinterest_image }}{% endif %}&amp;description={{ shop.name }}"
						target="_blank"
					>
						{{ 'general.social.pinterest' | t }}
					</a>
				{% endif %}
				{% if section.settings.enable_fancy %}
					<a
						class="share-icon icon-fancy"
						href="//www.thefancy.com/fancyit?ItemURL={{ shop.url }}&amp;Title={{ shop.name }}"
						target="_blank"
					>
						{{ 'general.social.fancy' | t }}
					</a>
				{% endif %}
			{% endif %}
		</div>

		<div>
			<h4 class="footer-title">{{ section.settings.newsletter_heading }}</h4>

			<p class="footer-byline">{{ section.settings.newsletter_sub_heading }}</p>

			<div class="contact-form-wrapper">

				{% form 'customer' %}

					<input id="contact_tags" name="contact[tags]" type="hidden" value="prospect,newsletter" />

          <div class="contact-inputs-wrapper">
            <input class="email-input input-field" id="contact_email" name="contact[email]" type="email" placeholder="your@email.com" />

            <input class="submit button contact-form-submit" type="submit" />
          </div>

				{% endform %}
			</div>

      <div class="legals-menu">
        <ul class="lsFooter__links">
            <li class="lsFooter__links--link">
              <p><a href="/pages/terms-and-conditions">Terms and Conditions</a></p>
            </li>

            <li class="lsFooter__links--link">
              <p><a href="/pages/privacy-policy">Privacy Policy</a></p>
            </li>

            <li class="lsFooter__links--link">
              <p><a href="/pages/cookie-policy">Cookie Policy</a></p>
            </li>
          </ul>
      </div>
		</div>

		<div class="lsFooter__menu">
			{% for i in (1..2) %}
        {% capture menu %}menu_{{ i }}{% endcapture %}
        {% if menus[section.settings[menu]].links.size > 0 %}
          {% capture menu %}{{ section.settings[menu] }}{% endcapture %}

					{% if section.settings.show_menu_heading %}
						<h2 class="footer-title">{{ menus[menu].title }}</h2>
					{% endif %}

					<ul class="lsFooter__links">
						{% for link in menus[menu].links %}
							{%- comment %}<locksmith:44f1>{% endcomment -%}
							  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: menus[menu], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
							{%- comment %}</locksmith:44f1>{% endcomment -%}
							<li class="lsFooter__links--link">
								<h4><a href="{{ link.url }}">{{ link.title }}</a></h4>
							</li>
						{% endfor %}
            </ul>

        {% endif %}
      {% endfor %}
		</div>
	</div>


	<div class="lsFooter__copyright">
		<div role="contentinfo" class="copyright footer-module">
      <p>
        {{ section.settings.footer_byline }}
      </p>
      
      {% comment %} <p>
        {% if section.settings.enable_trade_mark %}
        {% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}
				Long Shot is a Registered Trademark. All Rights Reserved © {{ year }}. <a href="/pages/privacy-policy">Privacy Policy</a>
      {% endif %}
      </p> {% endcomment %}
      
    </div>
	</div>


	
</footer>

{% schema %}
{
  "name": "New Footer",
  "class": "footer-section",
  "settings": [
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Menu 1",
      "default": "footer",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "link_list",
      "id": "legals_menu",
      "label": "Legals Footer"
    },

    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "newsletter_sub_heading",
      "label": "Sub Heading"
    },
    {
      "type": "header",
      "content": "Share"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share section",
      "default": true
    },
    {
      "type": "text",
      "id": "sharing_heading",
      "label": "Heading",
      "default": "Help us spread the word!"
    },
    {
      "type": "checkbox",
      "id": "enable_twitter",
      "default": true,
      "label": "Enable Twitter"
    },
    {
      "type": "checkbox",
      "id": "enable_instagram",
      "default": true,
      "label": "Enable Instagram"
    },
    {
      "type": "checkbox",
      "id": "enable_facebook",
      "default": true,
      "label": "Enable Facebook"
    },
    {
      "type": "checkbox",
      "id": "enable_pinterest",
      "default": false,
      "label": "Enable Pinterest" 
    },
    {
      "type": "checkbox",
      "id": "enable_fancy",
      "default": false,
      "label": "Enable Fancy"
    },
     {
      "type": "textarea",
      "id": "footer_byline",
      "label": "Footer Byline"
    }
  ]
}

{% endschema %}