<div class="our-drinks-promises">
  <article cle class="promises-text-text">
    <h2 class="t-center">{{ section.settings.title }}</h2>

    <ul class="promises-list">
      {% for block in section.blocks %}  
        <li class="promises-list-item">
          <img class="promises-list-item-tick" src="//cdn.shopify.com/s/files/1/0271/0700/0374/files/Layer_9_50x50.png" alt="tick" title="tick" />
          <div>
            <h2>{{ block.settings.title }}</h2>
            <p>{{ block.settings.body }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </article>
</div>



{% schema %}
  {
    "name": "Promises",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "title"
      }
    ],
     "blocks": [
        {
          "type": "select",
          "name": "Promises",
          "settings": [
            {
              "id": "title",
              "type": "text",
              "label": "Title"
            },
            {
              "id": "body",
              "type": "text",
              "label": "Body"
            }
          ]
        }
      ]
  }
{% endschema %}
