<div class="our-drinks-intro">
  <article cle class="intro-text-text">
    <h1 class="t-center">{{ section.settings.title }}</h1>
    
    <ul class="usp-list">
      {% for block in section.blocks %}  
        <li class="usp-list-item">
          <div>
            {%
              include 'rimg',
              img: block.settings.icon,
              alt: block.settings.usp ,
              size: '50 x 50',
              lazy: true
            %}
          </div>
          <div>
            <h3>{{ block.settings.usp }}</h3>
            <p>{{ block.settings.usp_body }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </article>
</div>



{% schema %}
  {
    "name": "Intro",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "title"
      }
    ],
     "blocks": [
        {
          "type": "select",
          "name": "ingredient",
          "settings": [
            {
              "id": "icon",
              "type": "image_picker",
              "label": "Icon"
            },
            {
              "id": "usp",
              "type": "text",
              "label": "USP Title"
            },
            {
              "id": "usp_body",
              "type": "text",
              "label": "USP Body"
            }
          ]
        }
      ]
  }
{% endschema %}
