<div class="our-drinks-promises">
  <article cle class="promises-text-text">
    <h2 class="t-center">{{ section.settings.title }}</h2>
    <p class="t-center">{{ section.settings.sub_title }}</p>

    <div class="t-center">
      {%
        include 'rimg',
        img: section.settings.image,
        size: '660x440',
        class: 'feature-image',
        alt: "The Long Shot Equation"
        lazy: true
      %}
    </div>

    <div class="equation-carousel t-center">
      {% for block in section.blocks %}  
        <div>
          <h2 style="color: {{ block.settings.color }}">{{ block.settings.title }}</h2>
          <h3 style="color: {{ block.settings.color }}">{{ block.settings.body }}</h3>
        </div>
      {% endfor %}
    </div>
  </article>
</div>



{% schema %}
  {
    "name": "Seltzer",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },  
      {
        "id": "sub_title",
        "type": "text",
        "label": "Sub Title" 
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Equation" 
      }
    ],
     "blocks": [
      {
        "type": "select",
        "name": "Ingredient",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Ingredient Title"
          },
          {
            "id": "body",
            "type": "text",
            "label": "Ingredient body"
          },
          {
            "id": "color",
            "type": "text",
            "label": "Ingredient color"
          }
        ]
      }
    ]
  }
{% endschema %}
