<section class="ethos-grid">
	{% for block in section.blocks %}
		<article class="ethos-grid-item {{ block.settings.classname }}" style="background-image: url( {{ block.settings.background_image | img_url: '800x' }} )">
			<h2 class="ethos-grid-item-title">{{ block.settings.title }}</h2>

			{{ block.settings.body }}
		</article>
	{% endfor %}
</section>

{% schema %}
  {
    "name": "Page Body",
		"blocks": [
			{
				"type": "items",
				"name": "Grid Item",
				"settings": [
					{
						"id": "title",
						"type": "text",
						"label": "Title"
					},
					{
						"id": "body",
						"type": "textarea",
						"label": "Body - accepts HTML"
					}, 
					{
						"id": "background_image",
						"type": "image_picker", 
						"label": "Background"
					},
					{
						"id": "classname",
						"type": "text", 
						"label": "CSS Classname"
					}
				]
			}
		]
  }
{% endschema %}