
<div>
  <h2 class="t-center ">{{ section.settings.title }}</h2>
  <div class="reviews-slider">
    {% for block in section.blocks %}  
      <li class="promises-list-item">
        <a href="{{ block.settings.link }}">
          <div class="review-img">
            {%
              include 'rimg',
              img: block.settings.icon,
              size: '200 x 200',
              lazy: true
            %}
          </div>
        </a>
      </li>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Reviews", 
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Ttile"
      }
    ],
     "blocks": [
        {
          "type": "select",
          "name": "review",
          "settings": [
            {
              "id": "icon",
              "type": "image_picker",
              "label": "Icon"  
            },
            {
              "id": "link",
              "type": "url",
              "label": "Review Link"
            }
          ]
        }
      ]
  }
{% endschema %}
