
{% if section.settings.show_site_overlay %}
  <div class="cart-freebie-overlay site-freebie-overlay">
    <a href="#1" class="dismisOffer close-cart-offer">X</a>

    <h1 class="freebie-title">{{ section.settings.overlay_header }}</h1>

    <div class="freebie-copy">
      {{ section.settings.overlay_text }}
    </div>

    <div class="freebie-actions">
      <a href="#1" class="button site-overlay-close-button" value="{{ section.settings.close_button }}">
        <span>{{ section.settings.close_button }}</span>
      </a>
    </div>
  </div>
{% endif %}

{% schema %}
{
	"name": "Site Overlay",
	"settings": [
		{
      "type": "header",
      "content": "Site Overlay",
      "info": "This stores a cookie when closed so not shown on every page, only every new session"
    },
    {
      "type": "checkbox",
      "id": "show_site_overlay",
      "label": "Show Site Overlay",
      "default": false
    },
    {
      "type": "text",
      "id": "overlay_header",
      "label": "Overlay Header"
    },
		{
      "type": "textarea",
      "id": "overlay_text",
      "label": "Overlay Text"
    },
    {
      "type": "text",
      "id": "close_button",
      "label": "Close Button Text",
      "default": "Close"
    }
	]
}
{% endschema %}