<script
  type="application/json"
  data-section-type="static-password"
  data-section-id="{{ section.id }}"
></script>

<!-- <h1 class="password-title">{{ 'password.general.opening_soon' | t }}</h1> -->
{% comment %} <h2>Coming Soon</h2> {% endcomment %}

<img src={{ "Logo_new.png" | asset_url }} class="password__logo"  alt={{ shop.name }} title={{ shop.name }} />

<h1>Alcoholic fruit-infused sparkling water</h1>

{% if shop.password_message != blank %}
  <p class="password-message">{{ shop.password_message }}</p>
{% endif %}

{% if section.settings.newsletter_text != blank %}
  {{ section.settings.newsletter_text }}
{% endif %}

{% include 'newsletter' %}

<div class="module-container password-form-wrapper hidden" data-password-form>
  <div class="module-inner">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="inline-field-wrapper {% if form.errors %}has-errors{% endif %}">
        <input
          class="input-field inline-field-input input-password"
          type="password"
          name="password"
          placeholder="{{ 'password.general.enter_password' | t }}"
          autofocus>
        <input
          class="inline-field-submit button"
          name="submit"
          type="submit"
          value="{{ 'password.general.submit' | t }}">
      </div>
    {% endform %}
  </div>
</div>

 <div class="footer-link-list social-icons">
   <h4>Spread the word</h4>
   <ul>
     {% if settings.social_facebook_url != blank %}
     <li class="social-link facebook"><a href="{{ settings.social_facebook_url }}" target="_blank">Facebook</a></li>
     {% endif %}
     {% if settings.social_twitter_url != blank %}
     <li class="social-link twitter"><a href="{{ settings.social_twitter_url }}" target="_blank">Twitter</a></li>
     {% endif %}
     {% if settings.social_pinterest_url != blank %}
     <li class="social-link pinterest"><a href="{{ settings.social_pinterest_url }}" target="_blank">Pinterest</a></li>
     {% endif %}
     {% if settings.social_instagram_url != blank %}
     <li class="social-link instagram"><a href="{{ settings.social_instagram_url }}" target="_blank">Instagram</a></li>
     {% endif %}
     {% if settings.social_vimeo_url != blank %}
     <li class="social-link vimeo"><a href="{{ settings.social_vimeo_url }}" target="_blank">Vimeo</a></li>
     {% endif %}
     {% if settings.social_youtube_url != blank %}
     <li class="social-link youtube"><a href="{{ settings.social_youtube_url }}" target="_blank">YouTube</a></li>
     {% endif %}
     {% if settings.social_rss_url != blank %}
     <li class="social-link rss"><a href="{{ settings.social_rss_url }}" target="_blank">RSS</a></li>
     {% endif %}
   </ul>
</div>

{%- capture password_trigger -%}
<a href="#" data-password-trigger>
  {{ 'password.general.enter_password' | t }}
</a>
{%- endcapture %}

<p class="password-page-action visible" data-newsletter-toggle>
  {{ 'password.general.password_caption_html' | t: trigger: password_trigger }}
</p>

<p class="password-page-action hidden" data-password-toggle>
  <a href="#" data-password-trigger>{{ 'password.general.cancel' | t }}</a>
</p>


{% schema %}
{
  "name": "Password pages",
  "class": "section-password",
  "settings": [
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Newsletter text"
    }
  ]
}

{% endschema %}