<section
  data-section-id="{{ section.id }}"
  data-section-type="static-collection"
>
  {% assign collection_image = false %}
  {% if collection.image and section.settings.show_featured_image %}
    {% assign collection_image = collection.image %}
  {% endif %}

  <div
    class="collection-header-wrapper {% if collection_image %}collection-header-has-image{% endif %}"
    {% if collection_image %}
      {%
        include 'rimg',
        img: collection_image,
        size: '1024x1024',
        background: true,
        lazy: true
      %}
    {% endif %}
  >
    <div class="collection-header">
      <h1 class="page-title">
        {% if collection.handle == 'all' %}
          {{ 'collections.collection.all_products' | t }}
        {% else %}
          {{ collection.title }}
        {% endif %}
      </h1>

      {% if collection.description != blank and section.settings.show_description %}
        <div class="collection-description rte">
          {{ collection.description }}
        </div>
      {% endif %}
    </div>
  </div>

  {% assign products_per_page = section.settings.products_in_rows | times: section.settings.numbers_of_rows %}
  {% paginate collection.products by products_per_page %}

    {% if collection.all_tags.size > 0 and section.settings.tag_filtering %}
      <div class="collection-tag-selector">

        {% assign fallback = '' %}
        {% if collection.handle %}
          {% capture link %}/collections/{{ collection.handle }}{% endcapture %}
          {% assign fallback = link %}
        {% elsif collection.products.first.type == collection.title %}
          {% capture link %}{{ collection.title | url_for_type }}{% endcapture %}
          {% assign fallback = link %}
        {% elsif collection.products.first.vendor == collection.title %}
          {% capture link %}{{ collection.title | url_for_vendor }}{% endcapture %}
          {% assign fallback = link %}
        {% endif %}


        <div class="select-wrapper">
          <div class="selected-text">
            {% if current_tags %}
              {{ current_tags.first }}
            {% else %}
              {{ 'collections.collection.browse' | t }}
            {% endif %}
          </div>
          <select data-fallback-url="{{ fallback }}">
            {% if current_tags %}
              <option name="reset">-- {{ 'collections.collection.clear' | t }} --</option>
            {% else %}
              <option name="browse" selected disabled>{{ 'collections.collection.browse' | t }}</option>
            {% endif %}
            {% for tag in collection.all_tags %}
              {% if current_tags contains tag %}
                <option name="{{ tag | handle }}" selected>{{ tag }}</option>
              {% else %}
                <option name="{{ tag | handle }}">{{ tag }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

      </div>
    {% endif %}

    {% comment %} <div class="collection-products products-per-row-{{ section.settings.products_in_rows }}"> {% endcomment %}
    <div class="collection-products">
      {% for product in collection.products %}
        {%- comment %}<locksmith:a3f3>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:a3f3>{% endcomment -%}
        {% include 'product-list-item' %}
      {% else %}
        <p class="empty">{{ 'collections.collection.no_products' | t }}</p>
      {% endfor %}
    </div>


    {% if paginate.previous or paginate.next %}
      {% include 'pagination' %}
    {% endif %}

  {% endpaginate %}
</section>

{% schema %}
{
  "name": "Collection pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_featured_image",
      "label": "Show collection image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tag_filtering",
      "label": "Enable tag filtering",
      "default": true
    },
    { 
      "type": "range",
      "id": "products_in_rows",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "numbers_of_rows",
      "label": "Rows",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 5
    }
  ]
}

{% endschema %}