/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

// .template-page-about-us {
//   background-image: url("https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/about-us-background1.png?v=1587547121");
//   background-repeat: no-repeat;
//   background-size: 100% 100%;
// }

.template-page-about-us .lsFooter__content {
  position: relative;
}

.about-us-text a {
  text-decoration: underline;
}

.shopify-section + .shopify-section {
  margin-top: 60px;
}

.about-us-block {
  align-items: center;
  margin-bottom: 30px;
  padding: 60px 0;
}

.about-us-equation-image {
  text-align: center;
}

@media screen and (min-width: 720px) {
  .lsFooter {
    position: relative;
  }

  .about-us-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .template-page-about-us .lsFooter:before {
    background-image: url("https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/about-us-mountains.png?v=1587547121");
    background-repeat: no-repeat;
    background-size: cover;
    top: -320px;
    right: 0px;
    position: absolute;
    content: "";
    width: 590px;
    height: 329px;
    z-index: -1;
  }

  .about-us-body {
    display: grid;
    grid-template-columns: 40% 45%;
    grid-column-gap: 40px;
    position: relative;
    z-index: 1;
  }
}
