/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.template-page-our-ethos {
  background-image: url("https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/ethos-background.png?v=1587547121");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 130px;
}

#shopify-section-our-ethos-grid {
  max-width: 800px;
}

@media screen and (min-width: 720px) {
  .ethos-grid {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "what who"
      "points points"
      "stand stand";
  }
}

.ethos-grid-item {
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-width: 720px) {
  .ethos-grid-item {
    margin: 0;
    padding: 10px 20px 20px;
  }

  .ethos-grid-item {
    max-width: 800px;
    margin: 0 auto;
  }
}

.ethos-grid .ethos-what {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: what;
}
.ethos-grid .ethos-who {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: who;
}
.ethos-grid .ethos-stand {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: stand;
}
.ethos-grid .ethos-points {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: points;
}

.ethos-grid-item-title {
  color: white;
}

.ethos-list {
  text-align: left;
}

@media screen and (min-width: 720px) {
  .ethos-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 20px 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0 20px 20px;
  }
}

.ethos-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.ethos-list li {
  position: relative;
  padding-left: 50px;
  min-height: 120px;
}

.ethos-list li h4 {
  color: white;
}

.ethos-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 40px;
  height: 40px;
  background-image: url("https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/tick.png?v=1587547121");
  background-repeat: no-repeat;
  background-size: cover;
}
