.our-drinks-page .shopify-section + .shopify-section {
  margin-top: 30px;
  padding-top: 30px;
}

.usp-list {
  list-style-type: none;
}

@media screen and (min-width: 720px) {
  .usp-list {
    list-style-type: none;
    column-count: 2;
    column-gap: 60px;
  }
}

.promises-list {
  list-style-type: none;
}

.promises-list-item {
  display: flex;
  align-items: center;
}

.promises-list-item-tick {
  margin-right: 15px;
}

.promises-list-item,
.usp-list-item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.usp-list-item img {
  margin-right: 30px;
  max-width: 100px;
}

.usp-list-item h3 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 22px;
}
