/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@font-face {
  font-family: 'Longshot Black Ground';
  src: url('{{ "black_ground-webfont.eot" | asset_url }}');
  src: url('{{ "black_ground-webfont.eot?#iefix" | asset_url }}') format('embedded-opentype'),
       url('{{ "black_ground-webfont.woff" | asset_url }}') format('woff'),
       url('{{ "black_ground-webfont.ttf" | asset_url }}') format('truetype'),
       url('{{ "black_ground-webfont.svg" | asset_url }}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Longshot Bebas Kai';
  src: url('{{ "bebaskai-webfont.eot" | asset_url }}');
  src: url('{{ "bebaskai-webfont.eot?#iefix" | asset_url }}') format('embedded-opentype'),
       url('{{ "bebaskai-webfont.woff" | asset_url }}') format('woff'),
       url('{{ "bebaskai-webfont.ttf" | asset_url }}') format('truetype'),
       url('{{ "bebaskai-webfont.svg" | asset_url }}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Longshot Helvetica Neu';
  src: url('{{ "helveticaneue_light-webfont.eot" | asset_url }}');
  src: url('{{ "helveticaneue_light-webfont.eot?#iefix" | asset_url }}') format('embedded-opentype'),
       url('{{ "helveticaneue_light-webfont.woff" | asset_url }}') format('woff'),
       url('{{ "helveticaneue_light-webfont.ttf" | asset_url }}') format('truetype'),
       url('{{ "helveticaneue_light-webfont.svg" | asset_url }}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

body {
  background-image: url(" {{ 'body-background.png' | asset_url }} ");
  background-repeat: repeat;
  background-size: 100%;
}

.t-center {
  text-align: center;
}

.t-italic {
  font-style: italic;
}

.t-red {
  color: #f58b8e;
}

.d-hidden {
  display: none;
}


.main-content {
  max-width: 1200px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Longshot Bebas Kai', 'Helvetica', 'sans-serif';
}

p {
  font-family: 'Longshot Helvetica Neu', 'Helvetica', 'sans-serif'; 
}

p a {
  text-decoration: underline;
}


.home-intro{
  padding: 0 20px;
}

@media screen and (min-width: 720px) {
  .home-text-feature {
    max-width: 530px;
    margin: 0 auto;
  }

  .home-intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 60px 0;
    padding: 0 30px;
  }

  .home-intro .item + .item {
    border-left: 1px solid #14294f;
    padding-left: 30px;
  }
}

.home-intro .feature-title {
  font-size: 28px;  
}

.longshot-deifnition .title {
  margin-top: 0;
}

.home-text-feature .feature-title, 
.home-text-feature .home-text-content {
  text-align: left;
}


// remove blue border on main homepage first section
#shopify-section-1587061570479:before {
  content: none;
}

/*
******* START HEADER *******
*/

#shopify-section-new-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.lsHeader .promo-header,
.lsHeader-mobile .promo-header {
  text-align: center;
  padding: 5px 0;
  background: #dd414e;
  color: white;
  font-family: 'Longshot Black Ground', 'Helvetica', 'sans-serif';
  font-size: 14px;
}



@media screen and (max-width: 719px) {
  .lsHeader__navigation--item.navigation-logo {
    display: none
  }
}

@media screen and (min-width: 720px) {
  .lsHeader-mobile {
    display: none;
  }

  .branding {
    margin-left: 0;
  }

  #shopify-section-new-header {
    background-image: url(" {{ 'header-background.png' | asset_url }} ");
    background-size: cover;
    z-index: 10;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }

  #shopify-section-new-header.transparent {
    opacity: 0;
    z-index: -1;
  }

  .lsHeader .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 30px;

    @media screen and (max-width: 720px) {
      border-bottom: 1px solid;
      padding-bottom: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }


  .lsHeader .header-block {
    padding: 0 20px;
    margin-left: 5%; 
  }
  
  .lsHeader__navigation--list {
    font-family: 'Longshot Black Ground', 'sans-serif';
    letter-spacing: 1.5px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-column-gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(5, 1fr); 
  } 

  
  .lsHeader__navigation--item.navigation-logo {
    // -ms-grid-row: 1;
    // -ms-grid-column: 7;
    // grid-area: logo;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .lsHeader__navigation--item.navigation-logo .logo-regular {
    max-height: 100%;
  }

  .lsHeader .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .lsHeader-cart {
    display: inline-block;
    width: 30px;
  }

  .lsHeader-cart .cart-count {
    color: white !important;
    background-color: #14294f;
    border-radius: 100%;
    right: auto;
    bottom: -7px;
    top: auto;
    width: 20px;
    height: 20px;
    left: -10px;
  }

  
}

.lsHeader-search {
  display: inline;
  position: relative;
}

.lsHeader-search-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
}

.lsHeader-search-form {
  position: absolute;
  width: 250px;
  right: 0;
  bottom: -70px;
  background: white;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.lsHeader-search-form.visible {
  height: auto;
  transition: height 0.3s ease-in-out;
}

@media screen and (max-width: 719px) {
  .lsHeader {
    display: none;
  }

  .lsHeader-mobile {
    position: relative;
  }

  .lsHeader-moibile-controls {
    position: relative;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #fffcf1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
  }

  .lsHeader-moibile-controls.is-active {
    position: fixed;
  }

  .lsHeader-mobile-navigation-wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: #fffcf1;
    -webkit-transition: left ease-in-out 0.5s;
    -o-transition: left ease-in-out 0.5s;
    transition: left ease-in-out 0.5s;
  }

  .lsHeader-mobile-navigation-wrapper.is-active {
    left: 0;
    -webkit-transition: left ease-in-out 0.5s;
    -o-transition: left ease-in-out 0.5s;
    transition: left ease-in-out 0.5s;
  }

  .lsHeader-mobile nav {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }


  .lsHeader-mobile .lsHeader-mobile-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .lsHeader-mobile .branding {
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
  }
 
  .lsHeader-mobile .logo {
    max-height: 100px;
  }
  
  .lsHeader-mobile .account-baskets {
    margin-right: 10px;
  }

  .lsHeader-mobile .account-baskets-item img {
    max-width: 30px;
  }

  .hamburger-inner:before,
  .hamburger-inner:after,
  .hamburger-inner,
  .hamburger-inner:before, 
  .hamburger-inner:after {
    background-color: #152a4f !important;
  }

  .cart-count {
    background: #152a4f;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: 7px !important;
    left: -7px !important;
  }
}
/*
******* END HEADER *******
*/

/*
******* START FOOTER *******
*/
.usp {
  max-width: 620px;
  margin: 50px auto;
  padding: 0 20px;
}

.lsFooter {
  margin-top: 60px;
}

.lsFooter__content {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  background-image: url(https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/footer-background.png?v=1586971632);
  background-repeat: round;
  background-size: 100% 100%;
  color: #fcf5ef;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: center;
}

.lsFooter .footer-title,
.lsFooter__links a {
  color: #fcf5ef;
}

.lsFooter__links .lsFooter__links--link {
  margin-top: 10px;
}

.lsFooter__links .lsFooter__links--link h4 {
  margin: 0;
}

.lsFooter__links a {
  text-transform: uppercase;
}

.lsFooter__links a:hover {
  border-bottom: 1px solid;
}

.lsFooter .social-share-section {
  text-align: left;
  padding-left: 20px;
}

.lsFooter .social-share-section .share-icon {
    max-height: 40px;
    display: inline-flex;
}

.lsFooter .social-share-section .share-icon:before {
  content: none;
}

.lsFooter .lsFooter__menu {
  text-align: right;
  padding-right: 20px;
}

// @media screen and (max-width: 720px) {
//   .lsFooter .lsFooter__menu {
//     display: none;
//   }
// }

.lsFooter .lsFooter__copyright {
  background-color: #f49f98;
  text-align: center;
  padding: 10px 0;
}

.lsFooter .lsFooter__copyright .copyright {
  color: #fbf0ea;
}

.lsFooter .footer-byline strong {
  color: #f49f98;
}

.lsFooter .email-input {
  background-color: #b2dde9;
  color: #002454;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

.lsFooter .contact-form-submit {
  background-color: #f49f98;
  padding: 11px 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.lsFooter .contact-inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.legals-menu .lsFooter__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 0;
}

.legals-menu .lsFooter__links p {
  font-size: 10px;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .lsFooter__content {
    grid-template-columns: repeat(1, 1fr);
    background: #0f2857;
  }

  .lsFooter .social-share-section,
  .lsFooter .lsFooter__menu {
    text-align: inherit;
  }
}
/*
******* END FOOTER *******
*/

/*
******* START PRODUCT *******
*/

.quantity-badge {
  position: absolute;
  top: 40px;
  right: 20px;
  text-align: center;
}

.quantity-badge.mixed-case {
  right: 0;
}

.quantity-badge.black-friday-deal * { 
  color: white;
  width: 100%;
  margin: 0;
  font-size: 18px;
}

.quantity-badge.black-friday-deal {
  z-index: 1;
  right: 0;
  background-color: #0f2857;
  border-radius: 100%;
  width: 150px !important;
  height: 150px;
  display: flex;
  align-items: center;
  top: -20px;
  right: -20px;
}

.product-list-item-thumbnail .quantity-badge img {
  width: 69px;
  height: 60px;
}

.product-list-item-title {
  font-size: 22px;
}

.product-list-item-price .money {
  font-weight: bold;
  color: #DD414E;
}

.product-list-item-price .original.money {
  font-weight: normal;
  opacity: 1;
  color: #f58b8e;
}

.product-list-item-details .product-form-submit-wrap {
  max-width: 160px;
  margin: 0 auto;
}


body.template-product .product-list-item-image:hover {
  opacity: 1;
  -webkit-transition: 1s ease-in-out opacity;
  -o-transition: 1s ease-in-out opacity;
  transition: 1s ease-in-out opacity;
}

.product-list-item-recipe {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.product-list-item-recipe img {
  width: 100%;
  height: 100%;
}

#product-list-item-4572574089270,
#product-list-item-4915813122188 {
  width: 100%; 
}

.product-description {
  font-size: 18px;
  direction: ltr;
} 

.product-slideshow {
  position: relative;
}

.template-collection  .product-description > p:last-child {
  display: none;
}

/*
******* END PRODUCT *******
*/


/*
******* START AGE CHECKING *******
*/
.modal-prompt {
  background: #fbf3ea;
  border-radius: 10px;
  border-top-right-radius: 0;
  -webkit-box-shadow: 7px 13px 10px 12px rgba(0, 0, 0, 0.68);
          box-shadow: 7px 13px 10px 12px rgba(0, 0, 0, 0.68);
  width: 90vw;
  max-width: 460px;
  height: auto;
  padding: 20px 35px 30px 35px;
  z-index: 1000000;
  position: absolute;
  left: 50%;
  top: 50%;
    -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (min-width: 720px) {
  .modal-prompt {
          top: calc(50% + 200px);
  -webkit-transform: translate(-50%, calc(-50% - 100px));
      -ms-transform: translate(-50%, calc(-50% - 100px));
          transform: translate(-50%, calc(-50% - 100px));
  }

  .modal-prompt:before {
    content: '';
    position: absolute;
    right: 0;
    top: -198px;
    width: 400px;
    height: 210px;
    background-image: url('https://cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/age-graphic.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.modal-prompt .age-title {
  color: #ef4351;
}

.modal-prompt .age-input {
  max-width: 80px;
  margin: 0 auto;
  text-align: center;
}



@media screen and (max-width: 720px) {
  .age-check-button + .age-check-button {
    margin-top: 15px;
  }
}

#prompt-background {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
}

.age-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 350px;
  margin: 0 auto;
}

.age-inputs input { 
  background: #b2dde9;
  color: black;
  border: none;
  border-radius: 10px;
}

.age-inputs .input-wrapper {
  margin: 0;
}

#submit_birthdate {
  background: transparent !important;
  color: #ef4351;
  text-decoration: underline;
  font-size: 24px;
  font-family: 'Longshot Black Ground', 'Helvetica', 'sans-serif';
  -webkit-transition: color ease-in-out 0.3s;
  -o-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
}

#submit_birthdate:disabled {
  color: grey;
  cursor: not-allowed;
  -webkit-transition: color ease-in-out 0.3s;
  -o-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
}

.underage-message {
  color: #ef4351;
  display: none;
}

.underage-message.active {
  display: unset;
}

/*
******* END AGE CHECKING *******
*/

/*
******* START INSTAGRAM *******
*/

.instagramFeed {
  display: inline-block;
  width: 100%;
}

.instagram-title {
  text-align: center;
}

.instagram-title p {
  font-family: inherit;
}

.instagram_gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 0 15px;
  
  @media screen and (min-width: 720px) {
    margin: 0;
    grid-template-columns: repeat(6, 1fr);
  }
}

.instagram_gallery .instagram-image {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  display: flex;
  align-items: center;
}

/*
******* END INSTAGRAM *******
*/

/*
******* START SLIDESHOW *******
*/
.slide-button {
  background-color: #B2DDE9;
  color: #1B2B4C
}
/*
******* END SLIDESHOW *******
*/

/*
******* START FEATURED PRODUCT *******
*/
.homepage_feature {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  text-align: center;
  margin: 0 15px;
}

.homepage_feature_title {
  text-align: center;
}

.homepage_feature-image {
  position: relative;
}

.homepage_feature-image .quantity-badge{
  position: absolute;
  width: 100px;
  // right: 13%;

  right: 15px;
  top: -50px;
}

.homepage_feature ul {
  list-style-type: disc;
  padding-left: 30px;
}

@media screen and (min-width: 768px) {
  .homepage_feature {
    grid-template-columns: repeat(2, 1fr);
    text-align: unset;
  }
}
/*
******* END FEATURED PRODUCT *******
*/

/*
******* START COLLECTIONS *******
*/

@media screen and (min-width: 768px) {
  
  .product-list-item {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .product-list-item:nth-child(even) {
    direction: rtl;
  }
}

.product-list-item-details { 
  text-align: left;
  margin-left: 30px;
}

.template-collection .main-content {
  max-width: unset !important;
}

.template-collection .collection-products {
  max-width: unset !important;
  margin: 30px;
}
/*
******* END COLLECTIONS *******
*/

/*
******* START REVIEWS SLIDER *******
*/
.reviews-slider {
  margin: 30px 0;
}

.review-img img {
  margin: 0 auto;
}

/*
******* END REVIEWS SLIDER *******
*/



/*
******* START GENERAL SLIDER *******
*/

.slick-carousel-button {
  width: 30px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;

  &:hover {
    cursor: pointer;
  }
}

.slick-slide {
  height: unset; 
}

.slick-carousel-button-next{ 
  right: 0;
}

/*
******* END GENERAL SLIDER *******
*/ 



/*
******* START RECOMMENDATIONS *******
*/

.recommended-products .product-list-item {
  display: inline-block;
}

/*
******* END RECCOMENDATIONS *******
*/

.flickity-viewport { min-height: unset;  }

#customer-portal-root {
  height: unset !important;
}