/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.static-password {
  position: relative;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .static-password:before {
    position: absolute;
    top: 35%;
    left: -630px;
    content: "";
    width: 790px;
    height: 400px;
    background-image: url(//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/password-green-hills.png);
    background-size: cover;
    z-index: -1;
  }

  .static-password:after {
    position: absolute;
    top: 34%;
    right: -630px;
    content: "";
    width: 710px;
    height: 400px;
    background-image: url(//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/passowrd-purple-hills.png);
    background-size: cover;
    z-index: -1;
  }
}

.main-footer {
  border-top: none !important;
}

.password__logo {
  padding-top: 30px;
  max-width: 100px;
  margin: 0 auto;
}

.main-header-section {
  display: none !important;
}

.password-page-action {
  font-size: 8px;
}

.footer-link-list.social-icons {
  float: none;
  padding: 0;
}

.password-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
