/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@media screen and (min-width: 720px) {
  .product-flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.product-title {
  text-align: left !important;
}

.product-more-info {
  margin-top: 0;
  padding-top: 0;
}

.product-more-info .product-info-link {
  padding-left: 0;
  margin-top: 0;
}

.product-more-info .product-info-link:before {
  content: none;
}

.product-price .money:not(.original) {
  color: #dd414e;
  font-weight: bold;
}

.product-price .money.original {
  color: #f58b8e;
}

.add-to-cart {
  width: 33%;
  display: block;
}

.product-quantity-input {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  padding: 0;
}

.product-form-submit-wrap .button {
  background-color: #152a4f !important;
  color: #fffbf2 !important;
}

.product-big-image img {
  max-height: 400px;
}

.recommendations-product {
  font-size: 26px;
}

.product-slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.input-wrapper.product-quantity {
  margin: 0;
}

.product-quantity-label {
  margin-top: 10px;
}

.product-quanity-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #152a4f;
  border-radius: 5px;
  padding: 7px;
  width: 40px;
  height: 40px;
  font-size: 14px;
}

.product-reviews-wrapper {
  border-top: 1px solid #152a4f;
  margin-top: 50px;
  padding-top: 30px;
}
