/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.cart-wrapper {
  position: relative;
}

#shopify-section-site-overlay.hidden,
#shopify-section-cart-overlay.hidden {
  display: none;
}

.freebie-copy p {
  margin: 0;
  font-size: 24px;
}

.dismisOffer {
  margin-top: 10px;
  border-bottom: 1px solid;
  display: inline-block;
}

#shopify-section-site-overlay,
#shopify-section-cart-overlay {
  background: #fbf3ea;
  border-radius: 10px;
  border-top-right-radius: 0;
  box-shadow: 6px 9px 20px 2px rgba(0, 0, 0, 0.5);
  width: 90vw;
  max-width: 520px;
  height: auto;
  padding: 20px 70px 30px;
  z-index: 1000000;
  position: fixed;
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (min-width: 720px) {
  #shopify-section-site-overlay,
  #shopify-section-cart-overlay {
    top: calc(50% + 200px);
    -webkit-transform: translate(-50%, calc(-50% - 100px));
    -ms-transform: translate(-50%, calc(-50% - 100px));
    transform: translate(-50%, calc(-50% - 100px));
  }

  #shopify-section-site-overlay:before,
  #shopify-section-cart-overlay:before {
    content: "";
    position: absolute;
    right: 0;
    top: -208px;
    width: 400px;
    height: 210px;
    background-image: url("//cdn.shopify.com/s/files/1/0309/7310/0172/t/2/assets/free-delivery-artwork.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

#prompt-background {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
}

.cart-freebie-overlay {
  position: relative;
}

.cart-freebie-overlay .freebie-title,
.cart-freebie-overlay .freebie-copy strong {
  font-family: "Longshot Black Ground", "Helvetica", "sans-serif";
  color: #dd414e;
}

.cart-freebie-overlay .freebie-copy strong {
  font-size: 30px;
}

.line-item-title {
  text-transform: uppercase;
}

.usp {
  display: none;
}

.continue-shopping {
  text-align: right;
  margin-bottom: 20px;
}

.dismisOffer {
  font-family: "Longshot Black Ground", "Helvetica", "sans-serif";
  border-bottom: none;
  color: #dd414e;
  position: absolute;
  left: -50px;
  top: -45px;
}

.freebie-actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  margin-top: 30px;
}


#shopify-section-site-overlay {
  display: none;
}

#shopify-section-site-overlay.visible {
  display: unset;
}

#shopify-section-site-overlay .freebie-actions {
  display: block;
}


// GIFT WRAPPING
.gift-wrapping-label {
  font-size: 16px;
}