<script
  type="application/json"
  data-section-type="static-404"
  data-section-id="{{ section.id }}"
></script>

<h1 class="page-title">
  {{ 'general.404.title' | t }}
</h1>

<div class="rte">
  <p>We don't know how to break it to you - but the page you were looking for doesn't exist (mind blown right?)</p>

  <p>Don't worry - we've got you. <a href="/">Click here</a> to head back to the action.</p>
</div>

{% include 'usp' %}