{{ 'override.cart.scss.css' | asset_url | stylesheet_tag }}

{% assign today_date = 'now' | date: '%s' %}
{% assign remove_day = 'April 26, 2021' | date: '%s' %}

{% if today_date > remove_day %}
	{% if cart.item_count == 1 %} 
		{% section 'cart-overlay' %}
	{% endif %}  
{% endif %}

{% section 'template-cart' %}

