{{ 'override.home.scss.css' | asset_url | stylesheet_tag }}

{% section 'home-slideshow' %}

{% section 'home-intro' %}

{{ content_for_index }}

{% assign multiBox = all_products["mixed-case-12-pack"] %}

{% unless form_id %}
  {% assign form_id = multiBox.id %}
{% endunless %} 

{% section 'reviews-slideshow' %}

{% include 'usp' %}

{% section 'homepage-featured-product' %}

{% section 'instagram-feed' %}



