{{ 'our-drinks-page.scss' | asset_url | stylesheet_tag }}

<div class="our-drinks-page">
  <h1 class="t-center">{{ page.title }}</h1>
  <p>Can you drink alcohol whilst on a keto diet? This is something we’re asked more than you might think.</p>
<p>A keto diet is essentially a very low carb, high fat diet (sort of like the Atkins diet… but for millennials). </p>
  <p>This low carb diet puts your body into a metabolic state known as <a href="https://en.wikipedia.org/wiki/Ketosis" target="_blank">‘ketosis’</a> – which means your body becomes incredibly efficient at burning fat for energy. It also turns fat into ketones in the liver, which can supply energy for the brain.</p>
<p>All great stuff right? But back to the serious question – what are the best alcoholic keto drinks?</p>
<p>In the end it all comes down to the carb content, with some choices being better than others. Wine, for example, has a much lower carb content than beer, whereas pure spirits (neat vodka, whisky etc.) have zero carbs.</p>
<p>While there are no prescribed ‘keto alcoholic drinks’ out there, it pays to keep an eye open – with even the humble gin &amp; tonic having up to 14 grams of carb per serving. But the worst offenders are definitely alcopops and pre-mixed cocktails, with their long list of additives bumping up the carb and sugar content considerably.</p>
<p>This is where Long Shot may be able to help – with all our drinks containing 2-2.5g of carbohydrate per can (coming from naturally occurring sugars present in our fruit juices), bringing that keto-friendly option to the drinks table.</p>
<p>We see many of our regular customers coming from the keto community, as people understand that you don’t need to completely write alcohol out of the diet, as long as you’re keeping an otherwise healthy and active lifestyle.</p>
  <p><strong><a href="https://longshotdrinks.co.uk/collections/our-drinks">Take a look at our Keto friendly hard seltzers</a></strong></p> 
  {% section 'our-drinks-intro' %}

  {% section 'our-drinks-seltzer' %}
  
  {% section 'homepage-featured-product' %}

  {% section 'our-drinks-promise' %}

  
</div>
