{{ 'override.contact-page.scss.css' | asset_url | stylesheet_tag }}

<script
  type="application/json"
  data-section-type="static-contact"
  data-section-id="{{ section.id }}"
></script>

<h1 class="page-title">{{ page.title }}</h1>

<div class="rte">
  {{ page.content }}
</div>

<div class="contact-form-wrapper">

    {% form 'contact' %}

    {% if form.posted_successfully? %}
      <p class="success-message">{{ 'contact.general.success' | t }}</p>
    {% endif %}

    {% if form.errors %}
      <p class="error-message">{{ 'contact.general.error' | t }}</p>
    {% endif %}

    {% unless form.posted_successfully? %}
  
    {% comment %} <div class="contact-select-wrapper">
      <label>What do you want to talk about?</label>
      <select required class="single-option-selector">
        <option value="" disabled>Please select</option>
        <option value="Quality Concern">Quality Concern</option>
        <option value="Product and Flavour">Product and Flavour</option>
        <option value="Ingredients and Nutrition">Ingredients and Nutrition</option>
        <option value="Partnerships">Partnerships</option>
        <option value="PR">PR</option>
        <option value="Jobs">Jobs</option>
        <option value="Other">Other</option>
      </select>
  	</div>	 {% endcomment %}
  
      <div class="input-wrapper">
        <label>{{ 'general.general.name' | t }}</label>
        <input class="input-field {% if form.errors contains "author" %}error{% endif %}" type="text" placeholder="{{ 'general.general.name_placeholder' | t }}" name="contact[name]">
      </div>

      <div class="input-wrapper">
        <label>{{ 'general.general.email' | t }}</label>
        <input required class="input-field {% if form.errors contains "email" %}error{% endif %}" type="email" placeholder="{{ 'general.general.email_placeholder' | t }}" name="contact[email]">
      </div>
    
    {% comment %}   
	    <div class="input-wrapper">
        <label>Postcode</label>
        <input class="input-field {% if form.errors contains "postcode" %}error{% endif %}" name="contact[postcode]" placeholder="Postcode"/>
      </div> {% endcomment %}
  
    	<div class="input-wrapper">
        <label>{{ 'general.general.message' | t }}</label>
        <textarea required class="input-field-textarea {% if form.errors contains "body" %}error{% endif %}" name="contact[body]" rows="6"></textarea>
      </div>

      <div class="input-wrapper">
        <input type="hidden" class="spam-check" value="">
        <input class="button" type="submit" value="{{ 'general.general.submit' | t }}">
      </div>
    {% endunless %}

  {% endform %}
</div>

