<h1 class="page-title">{{ page.title }}</h1>

{% comment %} {% if page.content != blank %}
  <div class="rte">
    {{ page.content }}
  </div>
{% endif %} {% endcomment %}

<style>
  .usp {
    display: none;
  }
</style>

{% section 'module-faq' %}