{{ 'our-drinks-page.scss' | asset_url | stylesheet_tag }}

<div class="our-drinks-page">
  <h1 class="t-center">{{ page.title }}</h1>
  <p>Low sugar. Low calories. Is less always best?</p>
<p>We’re fortunate to be part of a generation that is thinking more than ever about what they put into their bodies – no longer blindly following the status quo – and understanding that when it comes to what you drink, sometimes less is more.</p>
<p>We’ve never been those to only hunt down the lowest calorie alcoholic drinks out there but are aware of the growing obesity problem here in the UK: with nearly two thirds of UK adults being classified as overweight.</p>
  <p>We can easily forget that those couple of pints can sometimes start to add up, and is part of the reason we started <a href="https://longshotdrinks.co.uk/" target="_blank">Long Shot</a> in the first place - to bring you that lighter alternative. And with roughly half the calories of your standard G&amp;T, you can get more of the flavour, with less of the guilt.</p>
<p>Alcohol will never be healthy – but we also believe that it is possible to have that low sugar alcoholic drink, without any of the added nasties.</p>
<p>For some reason alcohol producers here in the UK aren’t required to label what goes into their drinks, which seems ludicrous to us, and is why we proudly show not only what goes into our drinks, but all the associated nutritional information as well. </p>
<p>Now we’re seeing a lot more low sugar alcoholic drinks here in the UK out there, and we’re proud to be one of them.</p>
<p>Our low sugar status simply comes from our preference to use all-natural fruit juices for flavour, rather than stronger (often cheaper) artificial alternatives. </p>
<p>We wanted to create a low calorie drink for the more health-conscious drinker – who still wants to enjoy a drink, but feel less of the guilt. All under 70 calories, vegan and gluten-free and at 4% they offer that simple alternative to tired G&amp;Ts or sickly sweet canned cocktails.</p>
  <p><strong><a href="https://longshotdrinks.co.uk/collections/our-drinks">Take a look at our low sugar hard seltzers</a></strong></p> 
  {% section 'our-drinks-intro' %}

  {% section 'our-drinks-seltzer' %}
  
  {% section 'homepage-featured-product' %}

  {% section 'our-drinks-promise' %}

  
</div>
