{{ 'our-drinks-page.scss' | asset_url | stylesheet_tag }}

<div class="our-drinks-page">
  <h1 class="t-center">{{ page.title }}</h1>
  <p>Is my drink vegan?</p>
  <p>Not many people know this one, but lots of the beers and wines out there that we all drink aren’t technically vegan at all. This is because of a fining agent used at the end of fermentation called <a href="https://en.wikipedia.org/wiki/Isinglass" target="_blank">isinglass</a> – a gelatin made from dried fish bladders (yep – we’re serious, and it’s as gross as it sounds) - to filter out the yeast and residual haze.</p>
  <p>It is flavourless and harmless, but chances are if you told people that’s what’s in their drink, they’d probably be more than a little confused (as we were when we found out!) However, ethically speaking, for those looking for an alcoholic vegan drink it can understandably leave a bad taste in the mouth, and is part of the reason why we created <a href="https://longshotdrinks.co.uk/">Long Shot</a>.</p>
<p>It seemed weird to us that there weren’t many decent vegan alcoholic drinks out there in the UK. We’re not just another ‘vegan’ drink – we wanted to make sure we created a great-tasting drink that also happens to be suitable for vegans. So we did.</p>
<p>Our drinks are predominantly made from mineral water and fruit juices, which are of course both vegan (amazing what they can do these days right?) and are mixed with a neutral grain spirit – which is derived mainly from wheat and doesn’t undergo a filtration process.</p>
  <p><strong><a href="https://longshotdrinks.co.uk/collections/our-drinks">Take a look at our vegan hard seltzers</a></strong></p> 
  {% section 'our-drinks-intro' %}

  {% section 'our-drinks-seltzer' %}
  
  {% section 'homepage-featured-product' %}

  {% section 'our-drinks-promise' %}

  
</div>
