{{ 'our-drinks-page.scss' | asset_url | stylesheet_tag }}

<div class="our-drinks-page">
  {% comment %} <h1 class="t-center">{{ page.title }}</h1> {% endcomment %}
  {% section 'our-drinks-intro' %}

  {% section 'our-drinks-seltzer' %}

  {% section 'our-drinks-promise' %}

  {% section 'homepage-featured-product' %}
</div>
