{{ 'our-drinks-page.scss' | asset_url | stylesheet_tag }}

<div class="our-drinks-page">
  <h1 class="t-center">{{ page.title }}</h1>
  <p>Gluten free. You see it everywhere these days right? But what does it mean?</p>
  <p>The technical answer: For any food item to be labelled as being <a href="https://www.coeliac.org.uk/information-and-support/living-gluten-free/the-gluten-free-diet/" target="_blank">gluten free</a>, it has to have less than 20 parts of gluten per million.</p>
<p>Nowadays there are a growing amount of great tasting gluten free alcoholic drinks in the UK, but it wasn’t always that way.</p>
<p>It always seemed pretty unfair that coeliacs had to miss out on the simple joys of life – like a good beer or piece of toast, but now with countless new options across all categories, things have definitely improved.</p>
  <p>With many gluten free alcoholic drinks out there simply being a ‘free-from’ version of their original, we wanted to make sure we made <a href="https://longshotdrinks.co.uk/">Long Shot</a> completely gluten free from the start – and with less than 10 parts per million, Long Shot can offer that new solution to the parched masses out there.</p>
<p>Being gluten intolerant or coeliac is pretty serious though, and can even be life-threatening. So it’s important to know that the grain alcohol used in our manufacturing (although it comes predominantly from grains such as wheat), is completely gluten-free because of our distillation process, breaking down and removing the proteins that trigger these intolerances and allergies.</p>
<p>So whether gluten is your absolute kryptonite, or you’re simply trying to consume less, we’ve got your next gluten free alcoholic drink sorted.</p>
  <p><strong><a href="https://longshotdrinks.co.uk/collections/our-drinks">Take a look at our gluten free hard seltzers</a></strong></p> 
  {% section 'our-drinks-intro' %}

  {% section 'our-drinks-seltzer' %}
  
  {% section 'homepage-featured-product' %}

  {% section 'our-drinks-promise' %}

  
</div>
