{{ 'our-ethos-page.scss' | asset_url | stylesheet_tag }}

<h1 class="page-title">{{ page.title }}</h1>

{% if page.content != blank %}
  <div class="rte page-our-ethos">
   {% section 'our-ethos-grid' %}
  </div>
{% endif %}

