{{ 'override.product-page.scss.css' | asset_url | stylesheet_tag }}

{% include 'breadcrumbs' %}
{% section 'module-product' %}
{% section 'module-product-reviews' %}
{% section 'static-product-recommendations' %}

{% include 'usp' %}